// @import './fonts/_guardian-agate-sans';
// @import './fonts/_zapf-dingbats';
@import './fonts/_guardian-egypt';
@import './fonts/_guardian-sans-cond';
@import './fonts/_guardian-sans-xcond';
@import './fonts/_guardian-sans';
@import './fonts/_guardian-text-egypt';
@import './fonts/_guardian-text-sans';
@import './fonts/_ivar';
@import './fonts/_sharp';

@at-root {
    @font-face {
        font-family: "DN Icons";
        font-style: normal;
        font-weight: 400;
        src: url('https://smooth-storage.aptoma.no/users/drf-dn/files/logos/jrj1-dnicons-print.otf?accessToken=17b44e528aecd79f11f7894e7d49875a475b8c33b8d6d7df109f52037e512bc8') format('opentype');
        -ro-font-embedding-type: all;
    }
}

// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Display%20Std/GretaDisplayStd%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std/GretaSans%20Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Grande%20Std_1/GretaGrandeStd%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans/Guardian%20TextSans-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Grande%20Std/GretaGrandeStd%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans/Guardian%20TextSans-Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Symbols/Greta_Symbols.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Display%20Std/GretaDisplayStd%20LightIta.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std_1/GretaTextStd%20LightItalic%20(-).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Narrow%20Std/GretaTxtNarrowStd%20Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std/GretaSansStd%20LightItalic.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Narrow%20Std/GretaTxtNarrowStd%20Regular(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Tungsten/Tungsten-Semibold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans_1/Guardian%20TextSans-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std_1/GretaSans%20Regular%20Italic.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Regular%20(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianEgyp-Black.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans_1/Guardian%20TextSans-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Narrow%20Std_1/GretaTxtNarrowStd%20Light(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std_1/GretaTextStd%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Display%20Std_1/GretaDisplayStd%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Zapf%20Dingbats/ZapfDingbats.ttf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianTextEgyp-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianTextEgyp-Black.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp_1/Guardian%20Egyp-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans/Guardian%20TextSans-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Thin.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans/Guardian%20TextSans-Black.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std/GretaSans%20ExtraLight.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Grande%20Std/GretaGrandeStd%20Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans_1/Guardian%20TextSans-Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Narrow%20Std/GretaTxtNarrowStd%20Light(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Bold%20(-).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans/Guardian%20Sans-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Light%20(-).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Black.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std_1/GretaTextStd%20Light%20(-).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Medium%202.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans_1/Guardian%20Sans-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond_1/Guardian%20Sans%20Cond-Black.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Tungsten/Tungsten-Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std_1/GretaSans%20ExtraLight.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std/GretaSans%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Light%20(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond_1/Guardian%20Sans%20Cond-Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond_1/Guardian%20Sans%20XCond-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std/GretaSans%20Regular%20Italic.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Thin.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond_1/Guardian%20Sans%20Cond-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Semibold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans/Guardian%20Sans-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond_1/Guardian%20Sans%20Cond-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/ZapfDingbats%20BT/Zapf-Dingbats-BT.ttf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Medium%20(-).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Semibold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std_1/GretaTextStd%20Regular%20(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Semibold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond_1/Guardian%20Sans%20Cond-Semibold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20LightItalic.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextEgyp_1/Guardian%20Text%20Egyp-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std_1/GretaTextStd%20Medium%20(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std/GretaSans%20Light%202.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Black.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Minion%20Pro_1/MinionPro-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Minion%20Pro/MinionPro-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Medium%20(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Light%20(+)%202.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextEgyp/Guardian%20Text%20Egyp-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20LightItalic%20(-).otf
