$black: #000;
$black-cmyk: CMYK(0%, 0%, 0%, 100%);

$white: #FFF;
$white-cmyk: CMYK(0%, 0%, 0%, 0%);

$light-grey: rgb(203, 214, 214);
$light-grey-cmyk: CMYK(5%, 0%, 0%, 16%);

$replikk-grey: rgb(233, 231, 233);
$replikk-grey-cmyk: CMYK(2%, 3%, 1%, 5%);

$dark-grey: rgb(63, 62, 62);
$dark-grey-cmyk: CMYK(0%, 0%, 0%, 90%);

$warm-grey: #55514b;
$warm-grey-cmyk: CMYK(21%, 16%, 20%, 65%);

$blue: rgb(57, 149, 210);
$blue-cmyk: CMYK(97%, 18%, 0%, 0%);
$blue-weekend: rgb(18, 204, 255);
$blue-weekend-cmyk: CMYK(93%, 20%, 0%, 0%);

$bright-blue: rgb(213, 230, 246);
$bright-blue-cmyk: CMYK(16%, 3%, 0%, 0%);
$bright-blue-weekend: rgb(217, 245, 255);
$bright-blue-weekend-cmyk: CMYK(15%,4%, 0%, 0%);
$bright-blue-tinted: mix($bright-blue, white, 70%);
$bright-blue-tinted-cmyk: -ro-spot('Base Bright', 0.7, #{$bright-blue-cmyk});
$bright-blue-tinted-weekend: mix($bright-blue-weekend, white, 70%);
$bright-blue-tinted-weekend-cmyk: -ro-spot('Base Bright', 0.7, #{$bright-blue-weekend-cmyk});

$deep-blue: rgb(59, 105, 166);
$deep-blue-cmyk: CMYK(95%, 45%, 0%, 10%);
$deep-blue-weekend: rgb(0, 79, 196);
$deep-blue-weekend-cmyk: CMYK(100%, 60%, 0%, 23%);

$purple: rgb(188, 97, 147);
$purple-cmyk: CMYK(0, 68%, 0%, 13%);
$purple-weekend: rgb(217, 43, 217);
$purple-weekend-cmyk: CMYK(0, 80%, 0%, 15%);

$bright-purple: rgb(246, 224, 231);
$bright-purple-cmyk: CMYK(0, 12%, 3%, 0%);
$bright-purple-weekend: rgb(250, 215, 250);
$bright-purple-weekend-cmyk: CMYK(0, 14%, 0%, 2%);

$deep-purple: rgb(130, 27, 86);
$deep-purple-cmyk: CMYK(0%, 100%, 0%, 40%);
$deep-purple-weekend: rgb(128, 0, 128);
$deep-purple-weekend-cmyk: CMYK(0%, 100%, 0%, 50%);

$pink: rgb(222, 133, 128);
$pink-cmyk: CMYK(0%, 52%, 37%, 0%);
$pink-weekend: rgb(255, 89, 128);
$pink-weekend-cmyk: CMYK(0%, 65%, 50%, 0%);

$financial-pink: rgb(243, 229, 214);
$financial-pink-cmyk: CMYK(0.784%, 7.059%, 11.373%, 1.961%);
$financial-pink-tinted: mix($financial-pink, white, 70%);
$financial-pink-weekend: rgb(255, 212, 189);
$financial-pink-weekend-cmyk: CMYK(0%, 17%, 26%, 0%);
$financial-pink-tinted: mix($financial-pink, white, 60%);
$financial-pink-tinted-cmyk: -ro-spot('Base Bright', 0.6, #{$financial-pink-cmyk});
$financial-pink-tinted-weekend: mix($financial-pink-weekend, white, 60%);
$financial-pink-tinted-weekend-cmyk: -ro-spot('Base Bright', 0.6, #{$financial-pink-weekend-cmyk});

$deep-financial-pink: rgb(241, 202, 180);
$deep-financial-pink-cmyk: CMYK(0%, 17%, 26%, 0%);
$deep-financial-pink-weekend: rgb(255, 181, 173);
$deep-financial-pink-weekend-cmyk: CMYK(0%, 29%, 32%, 0%);
$deep-financial-pink-tinted: mix($deep-financial-pink, white, 70%);
$deep-financial-pink-tinted-cmyk: -ro-spot('Base Bright', 0.7, #{$deep-financial-pink-cmyk});
$deep-financial-pink-tinted-weekend: mix($deep-financial-pink-weekend, white, 70%);
$deep-financial-pink-tinted-weekend-cmyk: -ro-spot('Base Bright', 0.7, #{$deep-financial-pink-weekend-cmyk});

$neutral-tint: rgb(236, 232, 225);
$neutral-tint-cmyk: CMYK(8%, 8%, 12%, 0%);

$medium-font-size: 13.6pt;
$medium-line-height: 13.6pt;

@import "_fontface";
@import "_topics";

& {
	--font-size-body: 8.4pt;
	--background-color: #FFF;

	--color-black: #{$black};
	--color-white: #{$white};

	--color-base: var(--color-blue);
	--color-base-bright: #{$bright-blue};
	--color-base-bright-tinted: #{$bright-blue-tinted};
	--color-base-dark: #{$deep-blue};

	--color-blue: #{$blue};
	--color-blue-weekend: #{$blue-weekend};

	--color-bright-blue: #{$bright-blue};
	--color-bright-blue-tinted: #{$bright-blue-tinted};
	--color-bright-blue-tinted-weekend: #{$bright-blue-tinted-weekend};
	--color-bright-blue-weekend: #{$bright-blue-weekend};

	--color-deep-blue: #{$deep-blue};
	--color-deep-blue-weekend: #{$deep-blue-weekend};

	--color-purple: #{$purple};
	--color-purple-weekend: #{$purple-weekend};

	--color-bright-purple: #{$bright-purple};
	--color-bright-purple-weekend: #{$bright-purple-weekend};

	--color-deep-purple: #{$deep-purple};
	--color-deep-purple-weekend: #{$deep-purple-weekend};

	--color-pink: #{$pink};
	--color-pink-weekend: #{$pink-weekend};

	--color-financial-pink: #{$financial-pink};
	--color-financial-pink-weekend: #{$financial-pink-weekend};
	--color-financial-pink-tinted: #{$financial-pink-tinted};
	--color-financial-pink-tinted-weekend: #{$financial-pink-tinted-weekend};

	--color-deep-financial-pink: #{$deep-financial-pink};
	--color-deep-financial-pink-weekend: #{$deep-financial-pink-weekend};
	--color-deep-financial-pink-tinted: #{$deep-financial-pink-tinted};
	--color-deep-financial-pink-tinted-weekend: #{$deep-financial-pink-tinted-weekend};

	--color-warm-grey: #{$warm-grey};
	--color-light-grey: #{$light-grey};
	--color-replikk-grey: #{$replikk-grey};

	@media print {
		--background-color: transparent;

		--color-black: #{$black-cmyk};
		--color-white: #{$white-cmyk};

		--color-base: #{$blue-cmyk};
		--color-base-bright: #{$bright-blue-cmyk};
		--color-base-bright-tinted: #{$bright-blue-tinted-cmyk};
		--color-base-dark: #{$deep-blue-cmyk};

		--color-blue: #{$blue-cmyk};
		--color-blue-weekend: #{$blue-weekend-cmyk};

		--color-bright-blue: #{$bright-blue-cmyk};
		--color-bright-blue-tinted: #{$bright-blue-tinted-cmyk};
		--color-bright-blue-tinted-weekend: #{$bright-blue-tinted-weekend-cmyk};
		--color-bright-blue-weekend: #{$bright-blue-weekend-cmyk};

		--color-deep-blue: #{$deep-blue-cmyk};
		--color-deep-blue-weekend: #{$deep-blue-weekend-cmyk};

		--color-purple: #{$purple-cmyk};
		--color-purple-weekend: #{$purple-weekend-cmyk};

		--color-bright-purple: #{$bright-purple-cmyk};
		--color-bright-purple-weekend: #{$bright-purple-weekend-cmyk};

		--color-deep-purple: #{$deep-purple-cmyk};
		--color-deep-purple-weekend: #{$deep-purple-weekend-cmyk};

		--color-pink: #{$pink-cmyk};
		--color-pink-weekend: #{$pink-weekend-cmyk};

		--color-financial-pink: #{$financial-pink-cmyk};
		--color-financial-pink-weekend: #{$financial-pink-weekend-cmyk};
		--color-financial-pink-tinted: #{$financial-pink-tinted-cmyk};
		--color-financial-pink-tinted-weekend: #{$financial-pink-tinted-weekend-cmyk};

		--color-deep-financial-pink: #{$deep-financial-pink-cmyk};
		--color-deep-financial-pink-weekend: #{$deep-financial-pink-weekend-cmyk};
		--color-deep-financial-pink-tinted: #{$deep-financial-pink-tinted-cmyk};
		--color-deep-financial-pink-tinted-weekend: #{$deep-financial-pink-tinted-weekend-cmyk};

		--color-warm-grey: #{$warm-grey-cmyk};
		--color-light-grey: #{$light-grey-cmyk};
		--color-replikk-grey: #{$replikk-grey-cmyk};
	}
}

&.print-day-saturday {
	--color-blue: var(--color-blue-weekend);
	--color-bright-blue: var(--color-bright-blue-weekend);
	--color-bright-blue-tinted: var(--color-bright-blue-tinted-weekend);
	--color-deep-blue: var(--color-deep-blue-weekend);
	--color-bright-purple: var(--color-bright-purple-weekend);
	--color-deep-purple: var(--color-deep-purple-weekend);
	--color-pink: var(--color-pink-weekend);
	--color-financial-pink: var(--color-financial-pink-weekend);
	--color-financial-pink-tinted: var(--color-financial-pink-tinted-weekend);
}

.theme--dn {
	// Body text
	--font-size-body: 8.4pt;

	// Headlines
	--headline-color: var(--color-black);
	--headline-font-family: IvarNostalgiDN-Large;
	--headline-font-size-sm: 60pt;
	--headline-font-size-md: 66pt;
	--headline-font-size-lg: 72pt;
	--headline-font-size-xl: 90pt;

	// Fact boxes
	--fact-box-border-color: var(--color-base);
}

.theme--purple,
.theme--deep-purple {
	--color-base: var(--color-purple);
	--color-base-dark: var(--color-deep-purple);
}

.theme--kommentar {
	--color-base: var(--color-deep-purple);
	--color-base-dark: var(--color-deep-purple);

	&::before, &::after {
		content: ' ';
		display: block;
		position: absolute;
		top: ($base-line-height - 0.3pt) * -1;
		bottom: 0;
		box-sizing: border-box;
	}

	&::before {
		right: 0;
		left: 21mm;
		background-color: var(--color-bright-blue-tinted);
	}

	&::after {
		left: 0;
		width: 21mm;
		border-width: 0 0 0 0.3pt;
		border-color: var(--color-black);
		border-style: solid;
		background-color: var(--color-bright-blue);
	}

	&[data-side="right"] {
		&::before {
			left: 0;
			right: 21mm;
		}

		&::after {
			right: 0;
			left: auto;
			border-width: 0 0.3pt 0 0;
		}
	}
}

.theme--kommentar-blue {
	--color-base: var(--color-blue);
	--color-base-bright: var(--color-bright-blue);
	--color-base-bright-tinted: var(--color-bright-blue-tinted);
	--color-base-dark: var(--color-deep-blue);
}

.theme--leder {
	--color-base: var(--color-deep-purple);
	--color-base-dark: var(--color-deep-purple);

	--text-column-circle-font-family: SharpGroteskBook19;
	--text-column-circle-font-size: 11.3pt;
	--text-column-circle-top: 0.2pt;
}

&.publication--magasinet,
.theme--magasinet {
	--color-base: var(--color-pink-weekend);
	--color-base-bright: var(--color-financial-pink-weekend);
	--color-base-dark: #{$deep-purple}; // Not using var(--color-deep-purple) since it changes to the weekend version on weekends

	@media print {
		--color-base-dark: #{$deep-purple-cmyk};
	}
}

&.print-day-saturday {
	.theme--kommentar {
		&::before {
			background-color: var(--color-financial-pink-tinted);
		}

		&::after {
			background-color: var(--color-financial-pink);
		}
	}
}

&.alf-format-fullpage {
	.theme--kommentar {
		&::before, &::after {
			bottom: -1.88pt;
		}
	}
}

.theme--kommentar.theme--kommentar-no-bg {
	&::before, &::after {
		display: none;
	}
}

.theme--leder {
	line-height: 12.75pt;
}

.theme--lest-siden-sist {
	--color-base: var(--color-purple);
	--color-base-dark: var(--color-deep-purple);
	--headline-color: var(--color-deep-purple);

	&::before {
		content: ' ';
		display: block;
		position: absolute;
		top: ($base-line-height - 0.3pt) * -1;
		bottom: 0;
		left: 0;
		right: 8.5mm;
		box-sizing: border-box;
		background-color: var(--color-deep-financial-pink);
	}

	.alf-component {
		padding-left: 4.65mm;
		padding-right: 8mm;
	}
}
