$black: #000;

$dark-grey: rgb(63, 62, 62);
$dark-grey-cmyk: CMYK(0%, 0%, 0%, 90%);

$blue: rgb(57, 149, 210);
$blue-cmyk: CMYK(97%, 18%, 0%, 0%);

$bright-blue: rgb(213, 230, 246);
$bright-blue-cmyk: CMYK(16%, 3%, 0%, 0%);
$bright-blue-tinted: mix(white, $bright-blue, 70%);
$bright-blue-tinted-cmyk: -ro-spot('Base Bright', #{$bright-blue-cmyk}, 0.7);

$dark-blue: rgb(59, 105, 166);
$dark-blue-cmyk: CMYK(95%, 45%, 0%, 10%);

$purple: rgb(188, 97, 147);
$purple-cmyk: CMYK(0, 68%, 0%, 13%);

$bright-purple: rgb(246, 224, 231);
$bright-purple-cmyk: CMYK(0, 12%, 3%, 0%);

$deep-purple: rgb(130, 27, 86);
$deep-purple-cmyk: CMYK(0%, 100%, 0%, 40%);

$pink: rgb(222, 133, 128);
$pink-cmyk: CMYK(0%, 52%, 37%, 0%);

$deep-financial-pink: rgb(241, 202, 180);
$deep-financial-pink-cmyk: CMYK(0%, 19%, 22%, 0%);

$yellow: rgb(255, 204, 0);
$yellow-cmyk: CMYK(0%, 20%, 100%, 0%);

$orange: rgb(255, 64, 0);
$orange-cmyk: CMYK(0%, 75%, 100%, 0%);

$neutral-tint: rgb(236, 232, 225);
$neutral-tint-cmyk: CMYK(8%, 8%, 12%, 0%);

$medium-font-size: 13.6pt;
$medium-line-height: 13.6pt;

@import "_fontface";

& {
    --font-size-body: 8.4pt;
    --color-base: #{$blue};
    --color-base-cmyk: #{$blue-cmyk};
    --color-base-bright: #{$bright-blue};
    --color-base-bright-cmyk: #{$bright-blue-cmyk};
    --color-base-bright-tinted: #{$bright-blue-tinted};
    --color-base-bright-tinted-cmyk: #{$bright-blue-tinted-cmyk};
    --color-base-dark: #{$dark-blue};
    --color-base-dark-cmyk: #{$dark-blue-cmyk};
    --background-color: transparent;
    --background-color-cmyk: transparent;
}

.theme--dn {
    // Body text
    --font-size-body: 8.4pt;

    // Headlines
    --headline-font-family: IvarNostalgi-Large;
    --headline-font-size-sm: 60pt;
    --headline-font-size-md: 66pt;
    --headline-font-size-lg: 72pt;
    --headline-font-size-xl: 90pt;
    --headline-dash-color: var(--color-base);
    --headline-dash-color-cmyk: var(--color-base-cmyk);

    // Fact boxes
    --fact-box-border-color: var(--color-base);
    --fact-box-border-color-cmyk: var(--color-base-cmyk);
    --fact-box-background-color: #{$neutral-tint};
    --fact-box-background-color-cmyk: #{$neutral-tint-cmyk};

    --topic-font-family: "GuardianSansCond-Bold";
    --topic-color: var(--color-base-dark);
    --topic-color-cmyk: var(--color-base-dark-cmyk);

    --ad-font-family: "GuardianSansCond-Regular";
    --ad-font-size: 20pt;

    --drop-cap-color: var(--color-base-dark);
    --drop-cap-font-family: "GuardianSansXCond-Bold";

    --portrait-font-family: "GuardianTextSans-Medium";
    --portrait-color: #FFF;
    --portrait-color-cmyk: CMYK(0%, 0%, 0%, 0%);
    --portrait-background: #{$dark-grey};
    --portrait-background-cmyk: #{$dark-grey-cmyk};
    --portrait-strong-font-family: "GuardianSans-Bold";
    --portrait-strong-color: #{$yellow};
    --portrait-strong-color-cmyk: #{$yellow-cmyk};

    --quote-background-color: var(--color-base);
    --quote-background-color-cmyk: var(--color-base-cmyk);
}

.theme--purple {
    --color-base: #{$purple};
    --color-base-cmyk: #{$purple-cmyk};
    --color-base-dark: #{$deep-purple};
    --color-base-dark-cmyk: #{$deep-purple-cmyk};
}

.theme--deep-purple {
    --color-base: #{$purple};
    --color-base-cmyk: #{$purple-cmyk};
    --color-base-dark: #{$deep-purple};
    --color-base-dark-cmyk: #{$deep-purple-cmyk};
}

.theme--kommentar {
    --background-color: #{$bright-blue-tinted};
    --background-color-cmyk: #{$bright-blue-tinted-cmyk};
    --color-base: #{$purple};
    --color-base-cmyk: #{$purple-cmyk};
    --color-base-dark: #{$deep-purple};
    --color-base-dark-cmyk: #{$deep-purple-cmyk};
}

&.section--etterbørs {
    .theme--dn {
        --color-base: #{$purple};
        --color-base-cmyk: #{$purple-cmyk};
        --color-base-dark: #{$deep-purple};
        --color-base-dark-cmyk: #{$deep-purple-cmyk};
    }
}
