&.topic--arbeidsliv {
    --topic: 'Arbeidsliv';
}

&.topic--bakgrunn {
    --topic: 'Bakgrunn';
}

&.topic--bygg {
    --topic: 'Bygg';
}

&.topic--børs {
    --topic: 'Børs';
}

&.topic--eiendom {
    --topic: 'Eiendom';
}

&.topic--energi {
    --topic: 'Energi';
}

&.topic--finans {
    --topic: 'Finans';
}

&.topic--finanskrisen {
    --topic: 'Finanskrisen';
}

&.topic--fiske {
    --topic: 'Fiske';
}

&.topic--gasellene {
    --topic: 'Gasellene';
}

&.topic--handel {
    --topic: 'Handel';
}

&.topic--havbruk {
    --topic: 'Havbruk';
}

&.topic--helse {
    --topic: 'Helse';
}

&.topic--industri {
    --topic: 'Industri';
}

&.topic--innenriks {
    --topic: 'Innenriks';
}

&.topic--jus {
    --topic: 'Jus';
}

&.topic--klima {
    --topic: 'Klima';
}

&.topic--kommentar {
    --topic: 'Kommentar';
}

&.topic--kriminalitet {
    --topic: 'Kriminalitet';
}

&.topic--landbruk {
    --topic: 'Landbruk';
}

&.topic--ledestjerner {
    --topic: 'Ledestjerner';
}

&.topic--luftfart {
    --topic: 'Luftfart';
}

&.topic--makroøkonomi {
    --topic: 'Makroøkonomi';
}

&.topic--mat {
    --topic: 'Mat';
}

&.topic--miljø {
    --topic: 'Miljø';
}

&.topic--morgendagens {
    --topic: 'Morgendagens';
}

&.topic--motor {
    --topic: 'Motor';
}

&.topic--næringseiendom {
    --topic: 'Næringseiendom';
}

&.topic--olje {
    --topic: 'Olje';
}

&.topic--oljeservice {
    --topic: 'Oljeservice';
}

&.topic--politikk {
    --topic: 'Politikk';
}

&.topic--privatøkonomi {
    --topic: 'Privatøkonomi';
}

&.topic--reiseliv {
    --topic: 'Reiseliv';
}

&.topic--rigg {
    --topic: 'Rigg';
}

&.topic--samferdsel {
    --topic: 'Samferdsel';
}

&.topic--shipping {
    --topic: 'Shipping';
}

&.topic--teknologi {
    --topic: 'Teknologi';
}

&.topic--telekom {
    --topic: 'Telekom';
}

&.topic--utdannelse {
    --topic: 'Utdannelse';
}

&.topic--utenriks {
    --topic: 'Utenriks';
}

&.topic--dn {
    --topic: 'DN';
}

