.ad {
    background: gray;
}

.ad--1b {
    height: 34mm;
}

.ad--1 {
    height: 71mm;
}

.ad--2b {
    height: 107mm;
}

.ad--2 {
    height: 144mm;
}

.ad--3b {
    height: 181mm;
}

.ad--3 {
    height: 218mm;
}

.ad--4 {
    height: 291mm;
}

.ad--5 {
    height: 365mm;
}
