.ad {
    .ad-placeholder {
        width: 100%;
    }

    .ad-placeholder-content {
        position: absolute;
        bottom: 0;
        background: #CCC;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        &:before {
            font-family: var(--ad-font-family, Arial);
            font-size: var(--ad-font-size, 20pt);
            content: 'Annonse';
            display: block;
        }
    }

    .ad-top-line,
    .ad-left-line {
        position: absolute;
        background-color: #000;

        @media print {
            background-color: CMYK(0%, 0%, 0%, 100%);
        }
    }

    .ad-top-line {
        height: 1px;
        top: align(-0.12pt);
        left: align(1.18pt);
        right: 0;

        @media print {
            height: align(0.25pt);
        }
    }

    .ad-left-line {
        // Browsers are unable to draw 0.25pt (0.32px) width
        width: 1px;
        top: align(4.15pt);
        bottom: 0;
        left: align(4.17pt);

        @media print {
            width: align(1pt);
        }
    }
}

.ad--1b {
    .ad-placeholder-content,
    .ad-placeholder  {
        height: 34mm;
    }
}

.ad--1 {
    .ad-placeholder-content,
    .ad-placeholder {
        height: 71mm;
    }
}

.ad--2b {
    .ad-placeholder-content,
    .ad-placeholder  {
        height: 107mm;
    }
}

.ad--2 {
    .ad-placeholder-content,
    .ad-placeholder {
        height: 144mm;
    }
}

.ad--3b {
    .ad-placeholder-content,
    .ad-placeholder  {
        height: 181mm;
    }
}

.ad--3 {
    .ad-placeholder-content,
    .ad-placeholder {
        height: 218mm;
    }
}

.ad--4 {
    .ad-placeholder-content,
    .ad-placeholder {
        height: 291mm;
    }
}

.ad--5 {
    &:before {
        display: none;
    }

    .ad-placeholder {
        height: 365mm;
    }
}
