.ad {
    display: flex;
    align-items: end;

    .ad-placeholder {
        background: gray;
        width: 100%;
    }
}

.ad--1b .ad-placeholder  {
    height: 34mm;
}

.ad--1 .ad-placeholder {
    height: 71mm;
}

.ad--2b .ad-placeholder  {
    height: 107mm;
}

.ad--2 .ad-placeholder {
    height: 144mm;
}

.ad--3b .ad-placeholder  {
    height: 181mm;
}

.ad--3 .ad-placeholder {
    height: 218mm;
}

.ad--4 .ad-placeholder {
    height: 291mm;
}

.ad--5 .ad-placeholder {
    height: 365mm;
}
