.signoff {
	font-family: DNSharpGroteskBook-18;
	font-size: 7.9pt;
	line-height: $base-line-height;
	--alf-grid-align-top: baseline;
	--alf-grid-align-bottom: baseline;

	p {
		transform: translateY(1.8pt);
	}
}
