@font-face {
    font-family: 'Guardian Agate Sans';
    font-style: normal;
    font-weight: normal;
    src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianAgateSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Guardian Agate Sans';
    font-style: normal;
    font-weight: normal;
    src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianAgateSans-Black.otf') format('opentype');
}
