@font-face {
    font-family: 'GuardianSans-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GuardianSans-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'GuardianSans-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans/Guardian%20Sans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'GuardianSans-Ultra-Italic';
    font-style: italic;
    font-weight: normal;
    src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Ultra-It.otf') format('opentype');
}
