@at-root {
	@font-face {
		font-family: "GuardianEgypt-Thin";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Thin.otf') format('opentype');
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: "GuardianEgypt-Light";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Light.otf') format('opentype');
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: "GuardianEgypt-Regular";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp_1/Guardian%20Egyp-Regular.otf') format('opentype');
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: "GuardianEgypt-Bold";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Bold.otf') format('opentype');
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: "GuardianEgypt-Black";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianEgyp-Black.otf') format('opentype');
		-ro-font-embedding-type: all;
	}
}
