@at-root {
	@font-face {
		font-family: "GuardianSansXCond-Thin";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Thin.otf') format('opentype');
	}

	@font-face {
		font-family: "GuardianSansXCond-Light";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Light.otf') format('opentype');
	}

	@font-face {
		font-family: "GuardianSansXCond-Regular";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Regular.otf') format('opentype');
	}

	@font-face {
		font-family: "GuardianSansXCond-Semibold";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Semibold.otf') format('opentype');
	}

	@font-face {
		font-family: "GuardianSansXCond-Bold";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Bold.otf') format('opentype');
	}

	@font-face {
		font-family: "GuardianSansXCond-Black";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Black.otf') format('opentype');
	}
}
