@at-root {
	@font-face {
		font-family: "Guardian Agate Sans";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianAgateSans-Medium.otf') format('opentype');
		-ro-font-embedding-type: all;
	}

	@font-face {
		font-family: "Guardian Agate Sans";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianAgateSans-Black.otf') format('opentype');
		-ro-font-embedding-type: all;
	}
}
