@at-root {
	@font-face {
		font-family: "GuardianSansCond-Regular";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond_1/Guardian%20Sans%20Cond-Regular.otf') format('opentype');
	}

	@font-face {
		font-family: "GuardianSansCond-Semibold";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Semibold.otf') format('opentype');
	}

	@font-face {
		font-family: "GuardianSansCond-Bold";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Bold.otf') format('opentype');
	}

	@font-face {
		font-family: "GuardianSansCond-Black";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Black.otf') format('opentype');
	}
}
