@font-face {
    font-family: 'GuardianTextSans-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans/Guardian%20TextSans-Regular.otf') format('opentype');

}
@font-face {
    font-family: 'GuardianTextSans-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans/Guardian%20TextSans-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'GuardianTextSans-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans/Guardian%20TextSans-Bold.otf') format('opentype');
}
