@at-root {
	@font-face {
		font-family: 'ZapfDingbats';
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage.aptoma.no/users/drf-dn/files/logos/q9ygo-ZapfDingbats.otf?accessToken=030c473fa66582c31f953784b07351ba5024591324555191f302be916e5c41d2') format('opentype');
    }
}
