@at-root {
	@font-face {
		font-family: "ZapfDingbats";
		font-style: normal;
		font-weight: normal;
		src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Zapf%20Dingbats/ZapfDingbats.ttf');
		-ro-font-embedding-type: all;
	}
}
