@function align($value, $unit) {
    $mod: 1;

    @if $unit == 'pt' {
        $value: $value / 0.75;
    }

    @if $unit == 'mm' {
        $value: $value * 3.779528;
    }

    @return (round($value / 0.04) * 0.04) + px;
  }
