@function align($value) {
    $precision: 0.01;
    $mod: 1;
    $number: strip-unit($value);
    $unit: unit($value);

    @if $unit == 'pt' {
        $number: $number / 0.75;
    }

    @if $unit == 'mm' {
        $number: $number * 3.779528;
    }

    @return (round($number / $precision) * $precision) * 1px;
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}
