.topic {

    h1 {
        font-family: SharpGroteskMedium22;
        font-weight: normal;
        font-size: 11.5pt;
        line-height: 20pt;
        position: absolute;
        right: 28pt;
        top: 1.2pt;
        transform: rotate(-90deg);
        transform-origin: right 0;
        white-space: nowrap;
    }
}
