.topic {
    h1 {
        font-family: SharpGroteskMedium22;
        font-weight: normal;
        font-size: 11.5pt;
        line-height: 20pt;
        letter-spacing: 0.025em;
        position: absolute;
        right: 28.35pt;
        top: 0;
        transform: rotate(-90deg);
        transform-origin: right 0;
        white-space: nowrap;
    }
}

.alf-col-1 .topic h1 {
    right: 50.95pt;
}
