[class*=alf-col-] {
	margin-top: 0;
	margin-bottom: $base-line-height;

	&.alf-is-dynamic:not(.alf-component) {
		--alf-grid-align-top: baseline;
		--alf-grid-align-bottom: baseline;
		margin-bottom: 0;
	}
}

.alf-col-top {
	margin-top: 0;
}

.alf-col-bottom {
	margin-bottom: 0;
}
