.middle-float {
    .alf-region {
        height: 100%;
    }

    .left {
        float: left;
        width: 50%;
        margin-left: -20px;
        shape-outside: content-box;
    }

    .right {
        float: left;
    }

    .middle {
        margin-top: 100px;
        shape-outside: content-box;
    }
}
