<div
    data-name="portrait"
    class="alf-component alf-container portrait alf-smart-crop"
    data-map="portrait"
>
    <figure>
        <div class="image" data-select="img"></div>
        <figcaption class="figcaption">
            <div class="figcaption-inner">
                <span class="alf-hyphenate description" data-select-inner=".figcaption [itemprop='description']"></span>
                <span class="credit" data-select-inner=".figcaption [data-element-type='credit']"></span>
            </div>
        </figcaption>
    </figure>
</div>
