<div
    data-name="portrait"
    data-color="#9bd899"
    data-lines="5"
    class="alf-component alf-container alf-is-removable portrait alf-smart-crop"
    data-map="portrait"
>
    <figure>
        <div class="image" data-select="img"></div>
        <figcaption class="figcaption">
            <div class="figcaption-inner">
                <span class="description alf-hyphenate" data-select-inner=".figcaption [itemprop='description']"></span>
            </div>
        </figcaption>
    </figure>
</div>
