.portrait {
    height: 45.35pt;
    --grid-align-top: baseline;
    --grid-align-bottom: top;

    figure {
        display: flex;
        flex-direction: row;
    }

    .image {
        float: left;
        flex: 0 0 47.2pt;
        height: 45.35pt;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            --image-crop-mode: tight;
        }
    }

    figcaption {
        height: 45.35pt;
        flex: 1;
        background-color: var(--portrait-background, #333);

        @media print {
            background-color: var(--portrait-background-cmyk, CMYK(0%, 0%, 0%, 90%));
            -ro-pdf-overprint: none;
            -ro-pdf-overprint-content: none;

            * {
                -ro-pdf-overprint: none;
                -ro-pdf-overprint-content: none;
            }
        }

        p {
            font-family: var(--portrait-font-family, Arial);
            font-weight: normal;
            padding: 4.1px 3.5pt;
            font-size: 7.1pt;
            color: var(--portrait-color, #FFF);

            @media print {
                color: var(--portrait-color-cmyk);
            }
        }

        b {
            font-weight: normal;
            font-family: var(--portrait-strong-font-family, Arial);
            color: var(--portrait-strong-color, yellow);

            @media print {
                color: var(--portrait-strong-color-cmyk);
            }
        }
    }
}
