.portrait {
    --alf-grid-align-top: baseline;
    --alf-grid-align-bottom: top;

    .image {
        img, canvas {
            width: 17mm;
            height: 15mm;
            object-fit: cover;
            --alf-image-crop-mode: tight;
        }
    }

	figcaption, .figcaption {
		-ro-pdf-overprint: none;
		background-color: transparent;
		font-family: DNSharpGroteskMedium-18;
		font-weight: normal;
		font-size: 7.9pt;
		line-height: $base-line-height;
		padding: 0;
		transform: translateY(4px);

		.figcaption-inner:before {
			content: '↑';
			display: inline-block;
			font-size: 7.9pt;
			font-family: SharpGroteskBook17;
		}

		* {
			-ro-pdf-overprint: mode1;
		}

		.description {
			-ro-pdf-overprint: mode1;
			-ro-pdf-overprint-content: mode1;

			p {
				display: inline;
			}
		}

		.credit {
			display: block;

			div {
				-ro-pdf-overprint: mode1;
				-ro-pdf-overprint-content: mode1;
			}
		}
	}
}
