.caption {
	--alf-grid-align-top: baseline;
	--alf-grid-align-bottom: baseline;

	figcaption, .figcaption {
		-ro-pdf-overprint: none;
		background-color: transparent;
		font-family: DNSharpGroteskMedium-18;
		font-weight: normal;
		font-size: 7.4pt;
		line-height: $base-line-height;
		padding: 0;
		transform: translateY(2.7pt);

		.figcaption-inner:before {
			content: '↑';
			display: inline-block;
			font-size: 7.4pt;
			font-family: SharpGroteskBook17;
		}

		* {
			-ro-pdf-overprint: mode1;
		}

		.description {
			-ro-pdf-overprint: mode1;
			-ro-pdf-overprint-content: mode1;

			p {
				display: inline;
			}
		}

		.credit {
			div {
				-ro-pdf-overprint: mode1;
				-ro-pdf-overprint-content: mode1;
			}
		}
	}

	&.caption--arrow-right {
		.figcaption-inner:before {
			content: '→';
		}
	}

	&.caption--arrow-left {
		.figcaption-inner:before {
			content: '←';
		}
	}

	&.caption--arrow-up {
		.figcaption-inner:before {
			content: '↑';
		}
	}

	&[grid-inside] {
		--alf-grid-align-top: baseline;
		--alf-grid-align-bottom: baseline;
		margin: 0;

		figcaption, .figcaption {
			box-sizing: border-box;
			transform: translateY(0);
			padding: 4mm;

			.figcaption-inner:before {
				content: '';
				display: none;
			}
		}
	}

	&.caption--color-white {
		color: #FFF;

		@media print {
			color: CMYK(0%, 0%, 0%, 0%);
		}

		p, .credit {
			color: #FFF;

			@media print {
				color: CMYK(0%, 0%, 0%, 0%);
			}
		}
	}

	&[grid-inside=bottom] {
		display: flex;
		align-items: end;
	}

	&.caption--align-left {
		text-align: left;
	}

	&.caption--align-right {
		text-align: right;
	}
}
