<div data-name="caption"
    data-color="#58a154"
    data-lines="5"
    class="alf-component alf-container caption caption--align-left caption--color-black"
    data-map="lead-asset-body picture-body"
    data-options="caption text-shadow margins">
    <figcaption class="figcaption">
        <div class="figcaption-inner">
            <span class="alf-hyphenate description" data-select-inner=".figcaption [itemprop='description']"></span>
            <span class="credit" data-select-inner=".figcaption [data-element-type='credit']"></span>
        </div>
    </figcaption>
</div>
