.emails {
    .emails-container {
        margin-top: $document-grid-offset !important;
        border-style: solid;
        border-width: align(0.25pt) 0 0 0;
        border-color: #000;
        border-color: CMYK(0%, 0%, 0%, 100%);
        font-family: "Guardian TextSans Normal";
        font-weight: normal;
        font-size: $base-font-size;
        line-height: align(10.4pt);
        padding-top: align(1.6pt);
    }
}
