.emails {
    position: relative;
    font-family: 'Guardian TextSans' !important;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: 10.4pt;
    padding-top: 0;
    -ro-pdf-overprint: mode1;

    .emails-border {
        position: absolute;
        top: -0.1px;
        height: 0;
        width: 100%;
        border-width: 0.25pt 0 0 0;
        border-color: #000;
        border-color: CMYK(0%, 0%, 0%, 100%);
        border-style: solid;
    }

	.emails-wrapper {
		transform: translateY(2.1px);
	}

    p {
        font-family: 'Guardian TextSans' !important;
		-ro-pdf-overprint-content: mode1;
		display: inline;
    }
}
