<div
    data-name="text-column"
    data-color="#CCC"
    class="alf-component alf-region alf-flex text-column text-column"
    data-grid-align-top="baseline"
    data-grid-colspan="4"
    data-options=".text-column--lg margins grid-gap"
>
</div>

<div
    data-name="text-column--fixed"
    data-color="#CCC"
    class="alf-component alf-region text-column text-column"
    data-grid-align-top="baseline"
    data-grid-colspan="4"
    data-options=".text-column--lg margins grid-gap heights"
>
</div>
