<div
    data-name="text-column"
    class="alf-component alf-region text-column text-column--plain"
    data-grid-align-top="baseline"
></div>

<div
    data-name="text-column--extra"
    class="alf-component alf-flex alf-region text-column"
    data-grid-align-top="baseline"
>
    <div class="text-column-inline-container alf-is-non-rearrangeable" data-component="emails"></div>
</div>

<div
    data-name="text-column--portrait"
    class="alf-component alf-flex text-column"
    data-grid-align-top="baseline"
>
    <div class="alf-flex u-no-margin" data-component="text-column"></div>
    <div class="alf-is-optional alf-is-removable u-margin-top-1-line" data-component="portrait"></div>
    <div class="alf-flex u-no-margin" data-component="text-column"></div>
</div>
