<div
    data-name="text-column"
    data-color="#CCC"
    class="alf-component alf-region alf-flex text-column text-column"
    data-grid-align-top="baseline"
>
    <div class="text-column-inline-container alf-is-non-rearrangeable" data-component="emails"></div>
</div>

<div
    data-name="text-column--portrait"
    data-color="#e0b4b4"
    class="alf-component alf-flex text-column"
    data-grid-align-top="baseline"
>
    <div class="u-no-margin text-column--portrait-above" data-component="text-column"></div>
    <div class="alf-is-optional alf-is-removable u-margin-top-1-line" data-component="portrait"></div>
    <div class="u-no-margin text-column--portrait-below" data-component="text-column"></div>
</div>
