.text-column {
    .body-text {
        letter-spacing: var(--letter-spacing, $letter-spacing);

        span {
            text-align: justify;

            &.row {
                display: block;
                text-align: justify;
                text-align-last: justify;
                -webkit-text-align-last: justify;
                width: 100%;
                height: $base-line-height;
            }

            &.row:last-of-type {
                text-align-last: auto;
                -webkit-text-align-last: auto;
            }
        }

        .row:first-of-type {
            text-indent: $text-indent;
        }

        .body-unindented .row {
            text-indent: 0;
        }
    }

    .alf-is-overflow .body-text {
        .row, .row:first-of-type {
            text-indent: 0;
        }
    }

    .alf-region {
        margin-top: align($base-line-height - 0.89pt);
        overflow: hidden;

        .body-text-bold {
            font-weight: bold;

            .word {
                font-weight: bold;
            }
        }

        .alf-is-overflow {
            p {
                margin-bottom: 0 !important;
            }
        }

        .alf-block, p, ul, li {
            font-family: "Guardian Text Egypt";
            text-rendering: optimizeLegibility;
            color: #000;
            color: CMYK(0%, 0%, 0%, 100%);
            // none disables the internally stored kerning info, do we want this?
            font-kerning: none;
            font-size: $base-font-size;
            line-height: $base-line-height;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            margin: 0;
            padding-left: 0;

            li {
                text-indent: 15px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='40' stroke='none' stroke-width='0' fill='cmyk(0.95, 0.25, 0, 0)' /%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: align(7.5pt) align(7.5pt);
                background-position: 0 align(1.48pt);
            }
        }

        .body-dropcap {
            span.row:first-of-type {
                height: auto;
            }
        }

        .drop-cap {
            color: var(--drop-cap-color, blue);
            font-family: var(--drop-cap-font-family, Arial);
            float: left;
            font-size: 83.44pt;
            line-height: 0.5em;
            padding: 0;
            margin: align(21.4px) align(-1pt) 0 0;
            font-weight: 800;
        }

        // Only works for single-line titles
        // How to handle multi-line titles in a good way?
        h2, h3 {
            font-family: "Guardian Sans Cond";
            font-weight: 800;
            font-size: align(11pt);
            line-height: var(--line-height, $base-line-height);
            margin-top: 8.61pt;
            margin-bottom: 1.8pt;
            text-indent: 0;
            letter-spacing: -0.1pt;
            padding: 0;
            padding-top: 0;
            padding-bottom: 0;
            color: CMYK(0%, 0%, 0%, 100%);
        }

        blockquote {
            margin: 0;

            p, small {
                font-family: "Guardian Sans";
                font-size: 13.3pt;
                line-height: align(15pt);
            }

            small {
                font-size: 10pt;
            }
        }
    }
}
