.text-column {
	--alf-word-spacing-min: #{$word-spacing-min};
	--alf-word-spacing-desired: #{$word-spacing-desired};
	--alf-word-spacing-max: #{$word-spacing-max};
	--alf-glyph-scaling-min: #{$glyph-scaling-min};
	--alf-glyph-scaling-max: #{$glyph-scaling-max};
	--alf-hyphens: #{$hyphens};
	-ro-pdf-overprint-content: mode1;

	&.alf-region {
		--alf-move-headers: 1; // this isn't actually implemented yet
	}

	.alf-block {
		// align the text to the baseline (since line-height centers the text)
		// this value is based on the font metrics
		transform: translateY(2.94px);
	}

	.the-end {
		height: 0;
		display: block;
	}

	.body-text {
		* {
			-ro-pdf-overprint-content: mode1;
		}

		span {
			text-align: justify;

			&.row {
				-ro-transform-origin: 0 0;
				transform-origin: 0 0;
				display: block;
				text-align: justify;
				text-align-last: justify;
				-webkit-text-align-last: justify;
				width: 100%;
				height: $base-line-height;
			}

			&.row:last-of-type {
				text-align-last: auto;
				-webkit-text-align-last: auto;
			}
		}

		.row:first-of-type {
			text-indent: $text-indent;
		}

		.body-unindented .row {
			text-indent: 0;
		}
	}

	.alf-block-is-first {
		.row:first-of-type {
			text-indent: 0;

			&::before {
				content: '\25cf';
				display: inline-block;
				font-family: Arial;
				font-size: 16pt;
				line-height: 0;
				position: relative;
				top: 1.4pt;
				margin-left: -1px;
				color: var(--color-base);

				@media print {
					color: var(--color-base-cmyk);
				}
			}

			.word:first-child,
			.word:nth-child(3) {
				font-family: IvarText-SemiBold;
			}
		}
	}

	.alf-is-overflow .body-text {
		.row, .row:first-of-type {
			text-indent: 0;
		}
	}

	.alf-is-overflow {
		p {
			margin-bottom: 0 !important;
		}
	}

	.alf-block, p, ul, li {
		font-family: IvarDisplay-Regular-v16;
		font-weight: normal;
		// text-rendering: geometricPrecision;
		color: #000;
		color: CMYK(0%, 0%, 0%, 100%);
		font-kerning: normal;
		font-size: $base-font-size;
		line-height: $base-line-height;
		letter-spacing: 0.02pt;

		b {
			font-family: IvarText-SemiBold;
			font-weight: normal;
		}

		i {
			font-family: IvarText-Italic;
			font-weight: normal;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		margin: 0;
		padding-left: 0;
		transform: translateY(2.94px);

		li {
			text-indent: 11pt;
			position: relative;

			&:before {
				content: '→';
				font-family: SharpGroteskBook18;
				display: inline-block;
				font-size: 7.4pt;
				position: absolute;
				left: -8.2pt;
				top: 0.55pt;
				color: var(--color-base);

				@media print {
					color: var(--color-base-cmyk);
				}
			}
		}
	}

	.body-dropcap {
		span.row:first-of-type {
			height: auto;
			text-indent: 0 !important;
		}
	}

	// Only works for single-line titles
	// How to handle multi-line titles in a good way?
	h2, h3 {
		font-family: IvarText-Bold;
		font-size: 8.9pt;
		line-height: var(--line-height, $base-line-height);
		margin-top: 10.65pt;
		margin-bottom: 0;
		transform: translateY(2.9px);
		text-indent: 0;
		padding: 0;
		padding-top: 0;
		padding-bottom: 0;
		font-weight: normal;

		span {
			display: inline;
			-ro-pdf-overprint: mode1;
			-ro-pdf-overprint-content: mode1;
		}

		@media print {
			color: CMYK(0%, 0%, 0%, 100%);
		}
	}
}

.text-column--portrait {
	.text-column--portrait--above {
		--alf-header-allow-top: 0;
		--alf-header-allow-bottom: 1;
	}

	.text-column--portrait--below {
		--alf-header-allow-top: 1;
		--alf-header-allow-bottom: 0;
	}
}

.text-column-inline-container {
	margin-top: $base-line-height;
	margin-bottom: 0;

	& + .alf-block {
		margin-top: $base-line-height;
	}
}

.text-column-bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
}
