.headline {
    h1 {
        margin: 0;
        color: var(--headline-color, var(--color, #000));
        font-size: var(--headline-font-size, 94.2pt);
        line-height: var(--headline-line-height, 0.9em);
        letter-spacing: var(--headline-letter-spacing, -1.8pt);
        background-color: var(--headline-background-color, transparent);
        font-weight: var(--headline-font-weight, 800);
        font-family: var(--headline-font-family, sans-serif);

        @media print {
            color: var(--headline-color-cmyk, var(--color-cmyk, CMYK(0%, 0%, 0%, 100%)));
            background-color: var(--headline-background-color-cmyk, transparent);
        }
    }

    .dash {
        color: var(--headline-dash-color, cadetblue);
        font-family: 'DN Icons';
        font-weight: normal;

        @media print {
            color: var(--headline-dash-color-cmyk, CMYK(95%, 25%, 0%, 0%));
        }
    }

    .alf-header-line {
        display: block
    }
}

.headline--lines {
    .alf-header-line {
        margin-bottom: 5px;
    }

    .alf-header-line-inner {
        background: #FFF;
        box-shadow: 0 0 30px #000;
        padding: 0 10px;
        white-space: nowrap; // force it into a single line, since we're adding padding above

        @media print {
            box-shadow: 0 0 30px CMYK(0%, 0%, 0%, 0%);
        }
    }

    .alf-header-lines-2 {
        .alf-header-line-1 {
            transform: rotate(-1deg);
        }
    }

    .alf-header-lines-3 {
        .alf-header-line-1 {
            transform: rotate(-2deg);
        }

        .alf-header-line-2 {
            transform: rotate(-1deg);
        }
    }
}

.headline--top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.headline--white {
    h1 {
        color: #FFF;
    }

    @media print {
        h1 {
            color: CMYK(0%, 0%, 0%, 0%);
        }
    }
}

// Preset "states" for the headline component

.headline--sm h1 {
    // TODO: these values are just an estimate for now
    font-size: var(--headline-font-size-sm, 80pt);
    line-height: var(--headline-line-height-sm, align(78pt));
}

.headline--md h1 {
    font-size: var(--headline-font-size-md, 90pt);
    line-height: var(--headline-line-height-lg, 0.9em);
}

.headline--lg h1 {
    font-size: var(--headline-font-size-lg, 105pt);
    line-height: var(--headline-line-height-lg, 0.9em);
}

.headline--xl h1 {
    font-size: var(--headline-font-size-xl, 125pt);
}
