.headline {
    h1 {
        margin: 0;
        color: var(--headline-color, var(--color, #000));
        font-size: var(--headline-font-size, 94.2pt);
        line-height: var(--headline-line-height, 0.9em);
        letter-spacing: var(--headline-letter-spacing, -1.8pt);
        background-color: var(--headline-background-color, transparent);
        font-weight: var(--headline-font-weight, 800);
        font-family: var(--headline-font-family, sans-serif);

        @media print {
            color: var(--headline-color-cmyk, var(--color-cmyk, CMYK(0%, 0%, 0%, 100%)));
            background-color: var(--headline-background-color-cmyk, transparent);
        }
    }

    .title-quote {
        span:first-child {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 36.1 34.92'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='36.1' height='34.92' style='fill:none'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3EAsset 1%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cg style='clip-path:url(%23clip-path)'%3E%3Cpath d='M36.1,0H18.8V17.94h7.47c0,4.28-3,8.12-7.9,9.51v7.47c4.91-.32,10.15-2.45,13.24-5.87,2.89-3.2,4.49-7.37,4.49-13.67ZM17.73,0H.43V17.94H7.9c0,4.28-3,8.12-7.9,9.51v7.47c4.91-.32,10.15-2.45,13.24-5.87,2.89-3.2,4.49-7.37,4.49-13.67Z' style='fill:%230091d5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

            @media print {
                color: var(--headline-quotation-color-cmyk, CMYK(95%, 25%, 0%, 0%));
            }
        }
    }
}

.headline--top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.headline--white {
    h1 {
        color: #FFF;
    }

    @media print {
        h1 {
            color: CMYK(0%, 0%, 0%, 0%);
        }
    }
}

// Preset "states" for the headline component

.headline--sm h1 {
    // TODO: these values are just an estimate for now
    font-size: var(--headline-font-size-sm, 80pt);
    line-height: var(--headline-line-height-sm, align(78pt));
}

.headline--md h1 {
    font-size: var(--headline-font-size-md, 90pt);
    line-height: var(--headline-line-height-lg, 0.9em);
}

.headline--lg h1 {
    font-size: var(--headline-font-size-lg, 105pt);
    line-height: var(--headline-line-height-lg, 0.9em);
}

.headline--xl h1 {
    font-size: var(--headline-font-size-xl, 125pt);
}
