.headline {
    h1 {
        margin: 0;
        color: var(--headline-color, var(--color, #000));
        font-size: var(--headline-font-size, 94.2pt);
        line-height: var(--headline-line-height, 0.9em);
        letter-spacing: var(--headline-letter-spacing, -1.8pt);
        background-color: var(--headline-background-color, transparent);
        font-weight: var(--headline-font-weight, 800);
        font-family: var(--headline-font-family, sans-serif);

        @media print {
            color: var(--headline-color-cmyk, var(--color-cmyk, CMYK(0%, 0%, 0%, 100%)));
            background-color: var(--headline-background-color-cmyk, transparent);
        }
    }

    .dash {
        color: var(--headline-dash-color, cadetblue);
        font-family: 'DN Icons';
        font-weight: normal;

        @media print {
            color: var(--headline-dash-color-cmyk, CMYK(95%, 25%, 0%, 0%));
        }
    }

    .alf-header-line {
        display: block
    }

    .alf-header-line-inner {
        // force it into a single line, so we're free to add padding and other stuff
        white-space: nowrap;
    }
}

.headline--bg-lines {
    .alf-header-line {
        padding: 0 align(10px) align(3px) 0;
    }

    .alf-header-line-inner {
        background-color: #FFF;
        padding: 0 10px 0 0;

        @media print {
            background-color: CMYK(0%, 0%, 0%, 0%);
        }
    }
}

.headline--box-shadow-lines {
    .alf-header-line {
        margin-bottom: 5px;
    }

    .alf-header-line-inner {
        background-color: #FFF;
        box-shadow: 0 0 30px #000;
        padding: 0 10px;

        @media print {
            background-color: CMYK(0%, 0%, 0%, 0%);
            box-shadow: 0 0 30px CMYK(0%, 0%, 0%, 100%);
        }
    }

    .alf-header-lines-2 {
        .alf-header-line-1 {
            transform: rotate(-1deg);
        }
    }

    .alf-header-lines-3 {
        .alf-header-line-1 {
            transform: rotate(-2deg);
        }

        .alf-header-line-2 {
            transform: rotate(-1deg);
        }
    }
}

.headline--top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.headline--white {
    h1 {
        color: #FFF;
    }

    @media print {
        h1 {
            color: CMYK(0%, 0%, 0%, 0%);
        }
    }
}

// Preset "states" for the headline component

.headline--sm h1 {
    // TODO: these values are just an estimate for now
    font-size: var(--headline-font-size-sm, 80pt);
    line-height: var(--headline-line-height-sm, align(78pt));
}

.headline--md h1 {
    font-size: var(--headline-font-size-md, 90pt);
    line-height: var(--headline-line-height-lg, 0.9em);
}

.headline--lg h1 {
    font-size: var(--headline-font-size-lg, 105pt);
    line-height: var(--headline-line-height-lg, 0.9em);
}

.headline--xl h1 {
    font-size: var(--headline-font-size-xl, 125pt);
}


.headline--31 h1 {
    font-size: var(--headline-font-size-31, 31.8pt);
    letter-spacing: var(--headline-letter-spacing, -0.2pt);    
}


.headline--42 h1 {
    font-size: var(--headline-font-size-42, 42.2pt);   
    letter-spacing: var(--headline-letter-spacing, -0.5pt);   
}


.headline--52 h1 {
    font-size: var(--headline-font-size-52, 52.6pt);
    letter-spacing: var(--headline-letter-spacing, -0.8pt);   
    line-height: var(--headline-line-height, 0.95em);
}


.headline--63 h1 {
    font-size: var(--headline-font-size-63, 63pt);
    letter-spacing: var(--headline-letter-spacing, -1.0pt);   

}


.headline--74 h1 {
    font-size: var(--headline-font-size-74, 94.3pt);
    letter-spacing: var(--headline-letter-spacing, -1.2pt);     
}


.headline--83 h1 {
    font-size: var(--headline-font-size-83, 83.8pt);
    letter-spacing: var(--headline-letter-spacing, -1.4pt);     
}


.headline--94 h1 {
    font-size: var(--headline-font-size-94, 94.2pt);
}


.headline--104 h1 {
    font-size: var(--headline-font-size-104, 104.6pt);
    letter-spacing: var(--headline-letter-spacing, -2pt); 
}


.headline--115 h1 {
    font-size: var(--headline-font-size-115, 115pt);
    letter-spacing: var(--headline-letter-spacing, -2.2pt); 
}


.headline--125 h1 {
    font-size: var(--headline-font-size-125, 125.4pt);
    letter-spacing: var(--headline-letter-spacing, -3.0pt); 
}


.headline--135 h1 {
    font-size: var(--headline-font-size-135, 135.8pt);
    letter-spacing: var(--headline-letter-spacing, -3.4pt); 
}
