<div
    data-name="headline"
    data-color="#222"
    data-lines="5"
    class="alf-component headline alf-container alf-is-editable"
    data-options="headline .alf-nl2br grid-align margins"
    data-map="title-quote title"></div>

<div
    data-name="headline--author"
    data-color="#290000"
    data-lines="10"
    class="alf-component headline headline--author"
    data-options="headline--author .alf-nl2br margins"
    >
    <div class="headline--author-wrapper">
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-container title alf-is-editable" data-map="title-quote title"></div>
    </div>
</div>
