<div
    data-name="headline"
    data-color="#222"
    class="alf-component headline alf-container alf-is-editable alf-text-auto-size"
    data-class-options='[
        {
            "name": "Respect line breaks",
            "value": "picture--respect-line-breaks"
        },
        {
            "name": "Max lines",
            "value": [
                {"name": "2", "value": "picture--caption-inline-bottom-right"},
                {"name": "3", "value": "picture--caption-inline-top-right"}
            ]
        }
    ]'
    data-map="title-quote title"></div>

<div
    data-name="headline--stretch"
    data-color="#4e0000"
    class="alf-component headline alf-container alf-is-editable alf-text-auto-size"
    data-map="title-quote title"></div>
