<div
    data-name="headline"
    data-color="#222"
    data-lines="5"
    class="alf-component headline alf-container alf-is-editable"
    data-options="headline colors margins padding grid-align grid-gap"
    data-map="title-quote title"></div>

<div
    data-name="headline--author"
    data-color="#290000"
    data-lines="10"
    class="alf-component headline headline--comment headline--author grid-align grid-gap"
    data-options="headline--comment margins"
    >
    <div class="headline--author-wrapper">
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-container title alf-is-editable alf-nl2br" data-map="title-quote title"></div>
    </div>
</div>

<div
    data-name="headline--topic"
    data-color="#108aff"
    data-lines="10"
    class="alf-component headline headline--comment headline--topic grid-align grid-gap"
    data-options="headline--comment margins"
    >
    <div class="headline--topic-wrapper">
        <div class="alf-container topic" data-map="topic"></div>
        <div class="alf-container title alf-is-editable alf-nl2br" data-map="title-quote title"></div>
    </div>
</div>
