.fact-box {
	widows: 1;
	orphans: 1;
	background-color: transparent;
	line-height: $base-line-height;
	-ro-pdf-overprint-content: mode1;
	padding: 0;

	.alf-align {
		--alf-grid-align-top: baseline;
	}

	&::before {
		display: block;
		width: 8.5mm;
		height: 2.505mm;
		background-color: var(--fact-box-border-color);

		@media print {
			background-color: var(--fact-box-border-color-cmyk);
		}
	}
}

.fact-box-header {
	font-family: SharpGroteskSmBold20;
	font-weight: normal;
	font-size: 8.9pt;
	line-height: 10.5pt;
	box-sizing: content-box;
	margin-bottom: 3pt;
	margin-top: 4.3px;
	-ro-pdf-overprint-content: mode1;
}

.fact-box--lg {
	.fact-box-header {
		font-size: 20.1pt;
		line-height: 15.6pt;
	}
}

.fact-box-body-container {
	margin-top: 0;
}

.fact-box-body {
	text-rendering: geometricPrecision;
	font-family: DNSharpGroteskBook-18;
	font-kerning: normal;
	font-weight: normal;
	font-style: normal;
	font-size: 7.4pt;
	line-height: $base-line-height;
	padding: 0;
	letter-spacing: -0.06pt;
	column-count: var(--colspan, 1);
	column-gap: 4mm;
	column-rule: 0.25pt solid #000;
	column-rule-color: CMYK(0%, 0%, 0%, 100%);
	transform: translateY(3.55px);

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		margin: 0;
		padding-left: 0;

		li {
			text-indent: 10.35pt;
			position: relative;

			&:before {
				content: '\0025CF';
				font-family: "Guardian TextSans";
				display: inline-block;
				margin-right: 4px;
				font-size: 24px;
				position: absolute;
				left: -10.8pt;
				top: -1.6px;
				color: var(--color-base);
				-ro-pdf-overprint: none;

				@media print {
					color: var(--color-base-cmyk);
				}
			}
		}
	}
}
