.fact-box {
    border-top: $document-grid-offset solid var(--fact-box-border-color, steelblue);
    background-color: var(--fact-box-background-color, oldlace);
    line-height: $base-line-height;
    -ro-pdf-overprint-content: mode1;
    padding: 0 align(5.4t) align(5.4t) align(5.4t);

    @media print {
        border-top-color: var(--fact-box-border-color-cmyk);
        background-color: var(--fact-box-background-color-cmyk);
    }
}

.fact-box-header {
    font-family: "Guardian Sans Cond";
    font-weight: 900;
    font-size: 14.9pt;
    line-height: align(15.6pt);
    box-sizing: content-box;
    margin-bottom: 0;
    // Align to the first base line (red line)
    margin-top: $base-line-height - $document-grid-offset;
}

.fact-box--lg {
    .fact-box-header {
        font-size: 20.1pt;
        line-height: align(15.6pt);
    }
}

.fact-box-body {
    font-family: "Guardian TextSans";
    text-rendering: optimizeLegibility;
    font-kerning: none;
    font-weight: normal;
    font-style: normal;
    font-size: $base-font-size;
    line-height: $base-line-height;
    padding: 0;
    letter-spacing: -0.06pt;
    column-count: var(--colspan, 1);
    column-gap: 4mm;
    column-rule: align(0.25pt) solid #000;
    column-rule-color: CMYK(0%, 0%, 0%, 100%);
    // Why do we need to subtract/offset more to make this font align, compared to the body text?
    margin-top: align($base-line-height - 1.92pt);

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin: 0;
        padding-left: 0;

        li {
            text-indent: 15px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='40' stroke='none' stroke-width='0' fill='cmyk(0.95, 0.25, 0, 0)' /%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: align(7.5pt) align(7.5pt);
            background-position: 0 align(1.48pt);
        }
    }
}
