.fact-box {
	widows: 1;
	orphans: 1;
	border-top: $grid-line-offset solid var(--fact-box-border-color, steelblue);
	background-color: var(--fact-box-background-color, oldlace);
	line-height: $base-line-height;
	-ro-pdf-overprint-content: mode1;
	padding: 0 6pt 6pt 6pt;

	@media print {
		border-top-color: var(--fact-box-border-color-cmyk);
		background-color: var(--fact-box-background-color-cmyk);
	}

	.alf-align {
		--grid-align-top: baseline;
	}
}

.fact-box-header {
	font-family: "GuardianSansCond-Black";
	font-weight: normal;
	font-size: 14.9pt;
	line-height: 15.6pt;
	box-sizing: content-box;
	margin-bottom: 0;
	// Align to the first base line (red line)
	margin-top: 4.3px;
	-ro-pdf-overprint-content: mode1;
}

.fact-box--lg {
	.fact-box-header {
		font-size: 20.1pt;
		line-height: 15.6pt;
	}
}

.fact-box-body-container {
	margin-top: $base-line-height / 2;
}

.fact-box-body {
	text-rendering: geometricPrecision;
	font-family: "GuardianTextSans-Regular";
	font-kerning: normal;
	font-weight: normal;
	font-style: normal;
	font-size: $base-font-size;
	line-height: $base-line-height;
	padding: 0;
	letter-spacing: -0.06pt;
	column-count: var(--colspan, 1);
	column-gap: 4mm;
	column-rule: 0.25pt solid #000;
	column-rule-color: CMYK(0%, 0%, 0%, 100%);
	transform: translateY(2.75px);

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		margin: 0;
		padding-left: 0;

		li {
			text-indent: 10.35pt;
			position: relative;

			&:before {
				content: 'l';
				font-family: 'ZapfDingbats';
				font-weight: normal;
				font-style: normal;
				display: inline-block;
				margin-right: 4px;
				font-size: 8.4pt;
				position: absolute;
				left: -9.6pt;
				top: -1.9px;
				color: var(--color-base);
				-ro-pdf-overprint: none;

				@media print {
					color: var(--color-base-cmyk);
				}
			}
		}
	}
}
