.alf-guides {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    table {
        display: none;
    }
}

.lp-grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2147483647;

    > div {
        background: transparent;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        height: 10.4pt;
    }
}

.lp-grid-document {
    > div {
        border-top: 0.25pt solid red;
    }
}

.lp-grid-baseline {
    top: 6.675pt;

    > div {
        border-top: 0.25pt solid blue;
    }
}
