.fact-box {
    border-top: 3mm solid #0091D5;
    padding-top: 3mm;
    background: rgb(233, 227, 218);

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin: 0;
        padding-left: 0;

        li {
            text-indent: 15px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='40' stroke='none' stroke-width='0' fill='%230091D5' /%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 10px 10px;
            background-position-x: 4px;
        }
    }

    .dp-fact-box-title {
        font-family: "Guardian Sans";
        font-weight: bold;
        font-size: 16pt;
        padding-left: 1mm;
    }

    .dp-fact-box-content {
        column-count: 2;
        -webkit-column-count: 2;
        column-gap: 4mm;
        -webkit-column-gap: 4mm;
        font-family: "Guardian Text Egypt";
        text-rendering: optimizeLegibility;
        font-kerning: none;
        font-weight: normal;
        font-size: 8.4pt;
        line-height: 10.4pt;
        letter-spacing: -0.1mm;
        word-spacing: -0.05mm;
    }
}
