.fact-box {
    border-top: 6.675pt solid $dn-blue;
    background-color: $dn-neutral-tint;
    margin-bottom: $base-line-height;
    [itemprop=headline] {
        font-family: "Guardian Sans Cond";
        font-weight: 900;
        font-size: 14.9pt;
        line-height: 15.6pt;
        padding-left: 5.4pt;
        padding-bottom: 1.2pt;
        padding-top: 2.2pt;
    }

    [itemprop=articleBody] {
        font-family: "Guardian TextSans";
        text-rendering: optimizeLegibility;
        font-kerning: none;
        font-weight: normal;
        font-size: 8.4pt;
        line-height: 10.4pt;
        padding: 5.4pt;
    }

}

.alf-colspan-2,
&.alf-colspan-2,
.alf-colspan-2 & {
    [itemprop=articleBody] {
        column-count: 2;
        -webkit-column-count: 2;
        column-gap: 4mm;
        -webkit-column-gap: 4mm;
    }
}
