.fact-box {
    border-top: 3mm solid rgb(0, 145, 213);
    padding-top: 3mm;
    background: rgb(233, 227, 218);

    ul {
        margin: 0;
        padding: 0;
        list-style-type: disc;
        list-style-position: inside;
        margin: 1px;
        padding-left: 1px;

        li {
            padding-left: 1px;
        }
    }

    .dp-fact-box-title {
        font-family: "Guardian Sans";
        font-weight: bold;
        font-size: 16pt;
        padding-left: 1mm;
    }

    .dp-fact-box-content {
        column-count: 2;
        -webkit-column-count: 2;
        column-gap: 4mm;
        -webkit-column-gap: 4mm;
        font-family: "Guardian Text Egypt";
        text-rendering: optimizeLegibility;
        font-kerning: none;
        font-weight: normal;
        font-size: 8.4pt;
        line-height: 10.4pt;
        letter-spacing: -0.1mm;
        word-spacing: -0.05mm;
    }
}
