/* Guardian Agate Sans */
@font-face {
  font-family: 'Guardian Agate Sans';
  font-style: normal;
  font-weight: 500;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianAgateSans-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Guardian Agate Sans';
  font-style: normal;
  font-weight: 800;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianAgateSans-Black.otf') format('opentype');
}

/* Guardian Egypt */
@font-face {
  font-family: 'Guardian Egypt';
  font-style: normal;
  font-weight: 100;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Guardian Egypt';
  font-style: normal;
  font-weight: 200;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Guardian Egypt';
  font-style: normal;
  font-weight: 400;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp_1/Guardian%20Egyp-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Guardian Egypt';
  font-style: normal;
  font-weight: 800;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianEgyp-Black.otf') format('opentype');
}

/* Guardian Text Egypt*/
@font-face {
  font-family: 'Guardian Text Egypt';
  font-style: normal;
  font-weight: normal;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianTextEgyp-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Guardian Text Egypt';
  font-style: normal;
  font-weight: 800;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianTextEgyp-Black.otf') format('opentype');
}

/* Guardian Sans */
@font-face {
  font-family: 'Guardian Sans';
  font-style: normal;
  font-weight: normal;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Guardian Sans';
  font-style: normal;
  font-weight: 500;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Guardian Sans';
  font-style: normal;
  font-weight: bold;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Guardian Sans';
  font-style: italic;
  font-weight: 900;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Ultra-It.otf') format('opentype');
}

/* Guardian Sans Xcond */
@font-face {
  font-family: 'Guardian Sans XCond';
  font-style: normal;
  font-weight: normal;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Guardian Sans XCond';
  font-style: normal;
  font-weight: 500;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Guardian Sans XCond';
  font-style: normal;
  font-weight: 800;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond_1/Guardian%20Sans%20XCond-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Guardian Sans Cond';
  font-style: normal;
  font-weight: 800;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond_1/Guardian%20Sans%20Cond-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Greta Grande';
  font-style: normal;
  font-weight: 400;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Grande%20Std_1/GretaGrandeStd%20Light.otf') format('opentype');
}

/* Zapf */
@font-face {
  font-family: 'Zapf Dingbats';
  font-style: normal;
  font-weight: normal;
  src: url('https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/ZapfDingbats.otf') format('opentype');
}


// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Display%20Std/GretaDisplayStd%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std/GretaSans%20Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Grande%20Std_1/GretaGrandeStd%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans/Guardian%20TextSans-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Grande%20Std/GretaGrandeStd%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans/Guardian%20TextSans-Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Symbols/Greta_Symbols.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Display%20Std/GretaDisplayStd%20LightIta.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std_1/GretaTextStd%20LightItalic%20(-).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Narrow%20Std/GretaTxtNarrowStd%20Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std/GretaSansStd%20LightItalic.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Narrow%20Std/GretaTxtNarrowStd%20Regular(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Tungsten/Tungsten-Semibold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans_1/Guardian%20TextSans-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std_1/GretaSans%20Regular%20Italic.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Regular%20(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianEgyp-Black.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans_1/Guardian%20TextSans-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Narrow%20Std_1/GretaTxtNarrowStd%20Light(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std_1/GretaTextStd%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Display%20Std_1/GretaDisplayStd%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Zapf%20Dingbats/ZapfDingbats.ttf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianTextEgyp-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianTextEgyp-Black.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp_1/Guardian%20Egyp-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans/Guardian%20TextSans-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Thin.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans/Guardian%20TextSans-Black.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std/GretaSans%20ExtraLight.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Grande%20Std/GretaGrandeStd%20Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextSans_1/Guardian%20TextSans-Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Narrow%20Std/GretaTxtNarrowStd%20Light(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Bold%20(-).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans/Guardian%20Sans-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Light%20(-).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Black.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std_1/GretaTextStd%20Light%20(-).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Medium%202.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans_1/Guardian%20Sans-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond_1/Guardian%20Sans%20Cond-Black.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Tungsten/Tungsten-Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std_1/GretaSans%20ExtraLight.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std/GretaSans%20Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Light%20(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond_1/Guardian%20Sans%20Cond-Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond_1/Guardian%20Sans%20XCond-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std/GretaSans%20Regular%20Italic.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Thin.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond_1/Guardian%20Sans%20Cond-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Semibold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/GuardianSans-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans/Guardian%20Sans-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond_1/Guardian%20Sans%20Cond-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/ZapfDingbats%20BT/Zapf-Dingbats-BT.ttf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Medium%20(-).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Semibold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std_1/GretaTextStd%20Regular%20(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Semibold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond_1/Guardian%20Sans%20Cond-Semibold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20LightItalic.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextEgyp_1/Guardian%20Text%20Egyp-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Egyp/Guardian%20Egyp-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20XCond/Guardian%20Sans%20XCond-Bold.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std_1/GretaTextStd%20Medium%20(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Sans%20Std/GretaSans%20Light%202.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Medium.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Black.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Minion%20Pro_1/MinionPro-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20Sans%20Cond/Guardian%20Sans%20Cond-Light.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Minion%20Pro/MinionPro-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Medium%20(+).otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20Light%20(+)%202.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Guardian%20TextEgyp/Guardian%20Text%20Egyp-Regular.otf
// https://smooth-storage-dev.aptoma.no/users/dev/files/dredition-layout/fonts/Greta%20Text%20Std/GretaTextStd%20LightItalic%20(-).otf
