$base-line-height: align(10.4pt);
$base-font-size: 8.4pt;
$baseline-offset: align(6.675pt);

$text-indent: align(10.32pt);

$hyphens: 1;

$word-spacing-min: 0.7;
$word-spacing-desired: 0.87;
$word-spacing-max: 0.9;

$glyph-scaling-min: 0.969;
$glyph-scaling-max: 1.03;

$medium-font-size: 13.6pt;
$medium-line-height: align(13.6pt);
