$base-line-height: align(10.4pt);
$base-font-size: 8.4pt;
$baseline-offset: align(6.675pt);

$text-indent: align(10.4pt);

//Original spacing
//$letter-spacing: -0.04mm;
$letter-spacing: -0.02mm;
$min-letter-spacing: -0.09mm;

$medium-font-size: 13.6pt;
$medium-line-height: align(13.6pt);
