$base-line-height: align(10.4, pt);
$document-grid-offset: align(6.675, pt);
$dn-blue: rgb(19, 136, 204);
$dn-dark-blue: rgb(31, 93, 166);
$dn-yellow: rgb(255, 204, 0);
$dn-orange: rgb(255, 64, 0);
$dn-neutral-tint: rgb(236, 232, 225);
