@import "mixins/_functions";
@import "_variables";
@import "mixins/_grid";
@import "_fontface";
@import "_document";

.alf-break {
    display: block;
    height: 0;
    line-height: 0;
}

.alf-chrome {
    background: #FFF;
    overflow: hidden;
    line-height: $base-line-height;
}

.alf-rev-#{$revision} {
    box-sizing: border-box;
    font-family: Arial;
    line-height: $base-line-height;

    * {
        box-sizing: border-box;
    }

    figure {
        margin: 0;
    }

    p, h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }

    .lead-asset {
        position: relative;

        > div {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.bottom-margin {
            // just to push it down enough
            margin-bottom: $base-line-height;
        }
    }

    @import "_utils";

    @include grid(5, 246mm, 46mm, 0, 13mm);

    .alf-template {
        background: #FFF;
    }

    h1 {
        font-family: "Guardian Egypt";
        font-weight: 800;
        font-size: 52pt;
        line-height: 1em;
    }

    .title-small {
        h1 {
            font-size: 48pt;
            line-height: 1em;
        }
    }

    .alf-region {
        margin-top: align(-0.51, pt);
        overflow: hidden;

        .body-text span {
            text-align: justify;

            &.row {
                display: block;
                text-align: justify;
                text-align-last: justify;
                -webkit-text-align-last: justify;
                width: 100%;
                height: $base-line-height;
                overflow: hidden; // this is just to hide the current bug with text-flow
            }

            &.row:first-of-type {
                text-indent: $text-indent;
            }

            &.row:last-of-type {
                text-align-last: auto;
                -webkit-text-align-last: auto;
            }
        }

        .alf-is-overflow {
            p {
                margin-bottom: 0 !important;
            }

            .body-text span {
                &.row:first-of-type {
                    text-indent: 0 !important;
                }
            }
        }

        .alf-block, p, span, ul, li {
            font-family: "Guardian Text Egypt";
            text-rendering: optimizeLegibility;
            color: $black;
            // none disables the internally stored kerning info, do we want this?
            font-kerning: none;
            font-weight: normal;
            font-size: $base-font-size;
            line-height: $base-line-height;
            letter-spacing: -0.05mm;
        }

        .alf-block-is-first {
            .row {
                text-indent: 0 !important;
            }

        //     .row:first-child:first-letter {
        //         color: #000;
        //         float: left;
        //         font-size: 31.6pt;
        //         line-height: 0.6em;
        //         padding: 0;
        //         margin: 8.7pt 2pt 0 0;
        //         font-weight: 800;
        //     }
        }

        // Only works for single-line titles
        // How to handle multi-line titles in a good way?
        h2, h3 {
            font-family: "Guardian Sans Cond";
            font-weight: 800;
            font-size: align(11, pt);
            line-height: $base-line-height;
            height: $base-line-height;
            margin-top: 8.61pt;
            margin-bottom: 1.8pt;
            text-indent: 0;
            letter-spacing: -0.2pt;
            padding: 0;
            padding-top: 0;
            padding-bottom: 0;
            // This font has a whitespace issue in PDF reactor
            -ro-transform: translateY(-3px);

            + .alf-block .row {
                text-indent: 0 !important;
            }
        }

        blockquote {
            margin: 0;

            p, small {
                font-family: "Guardian Sans";
                font-size: 13.3pt;
                line-height: align(15, pt);
            }

            small {
                font-size: 10pt;
            }
        }
    }

    .alf-container {
        .overlay-caption {
            font-family: "Guardian Sans";
            font-weight: 500;
            font-size: 3.3mm;
            line-height: 4mm;
            margin-top: 1mm;
        }
    }

    .section, .topic {
        font-size: 13pt;
        line-height: $medium-line-height;
        // Temporarily switched because of PDFreactor issues
        // font-family: "Guardian Sans Cond";
        font-family: "Guardian Sans XCond";
        font-weight: 800;
        color: $dn-dark-blue;
        border-top: align(0.25, pt) solid #000;
        border-bottom: align(0.25, pt) solid #000;
        text-transform: uppercase;
        padding: align(3.8, pt) 0 align(2, pt) 0;
        margin: 0;
    }

    .byline {
        // Temporarily switched because of PDFreactor issues
        // font-family: "Guardian Sans Cond";
        font-family: "Guardian Sans XCond";
        font-size: $medium-font-size;
        line-height: $medium-line-height;
        font-weight: 800;
        margin-top: align(3, pt);
    }

    .location {
        // Temporarily switched because of PDFreactor issues
        // font-family: "Guardian Sans Cond";
        font-family: "Guardian Sans XCond";
        font-size: $medium-font-size;
        line-height: $medium-line-height;
        font-weight: normal;
        padding-bottom: align(10, pt);
    }

    .the-end {
        border-top: 0.25pt solid #CCC;
        font-family: "Guardian TextSans";
        font-weight: normal;
        font-size: $base-font-size;
        line-height: align(10.4, pt);
        margin-top: $document-grid-offset;
        padding-top: 3.025pt;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin: 0;
        padding-left: 0;

        li {
            text-indent: 15px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='40' stroke='none' stroke-width='0' fill='%230091D5' /%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 10px 10px;
            background-position-x: 4px;
        }
    }

    .bottom-margin {
        margin-bottom: align(10, pt);
    }

    .image-side-by-side {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;

        .image {
            display: flex;
            display: -webkit-flex;
            flex: 68;
            -webkit-flex: 68;
        }

        .caption {
            display: block;
            flex: 32;
            -webkit-flex: 32;
            background: #3e3e3f;
            color: #FFF;
            height: 100%;

            .overlay-caption {
                font-size: 15pt;
                line-height: 1.1em;
                hyphens: auto;
                padding: 2mm;

                &:before {
                    display: block;
                    content: "\201D";
                    font-family: "Arial Black";
                    font-weight: 400;
                    width: 40mm;
                    height: 7mm;
                    color: #feca0a;
                    font-size: 95pt;
                    margin-top: 8mm;
                }
            }

        }
    }

    @import "_factbox";
    @import "_templates";
    @import "_ad";

    figcaption, .figcaption {
        background: #FFF;
        font-family: "Guardian TextSans";
        font-weight: bold;
        font-size: $base-font-size;
        line-height: $base-line-height;
        padding: align(2, pt);
    }

    .picture {
        position: relative;
    }

    .caption-inline,
    .caption-inline-left,
    .caption-inline-top-left {
        figcaption, .figcaption {
            position: absolute;
            bottom: 0;
            right: 0;
            width: align(136, pt);
        }
    }

    .caption-inline-left {
        figcaption, .figcaption {
            right: auto;
            left: 0;
        }
    }

    .caption-inline-top-left {
        figcaption, .figcaption {
            right: auto;
            left: 0;
            top: 0;
            bottom: auto;
        }
    }

}
