@import "mixins/_grid";
@import "_fontface";
@import "_utils";

$base-line-height: 10.4pt;

html, body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.alf-break {
    display: block;
    height: 0;
    line-height: 0;
}

@page {
    width: 272mm;
    height: 385mm;
    margin: 0;
}

body {
    background: #000;
}

.alf-chrome {
    background: #FFF;
    overflow: hidden;
    line-height: $base-line-height;
}

.alf-rev-#{$revision} {
    font-family: Arial;
    line-height: $base-line-height;

    @include grid(5, 246mm, 46mm, 0, 13mm);

    .alf-template {
        background: #FFF;
    }

    h1 {
        font-family: "Guardian Egypt";
        font-weight: 800;
        font-size: 52pt;
        line-height: 1em;
        margin: $base-line-height 0 ($base-line-height * 2) 0;
    }

    .title-small {
        h1 {
            font-size: 48pt;
            line-height: 1em;
        }
    }

    .alf-region {
        overflow: hidden;

        .body-text span {
            text-align: justify;

            &.row {
                display: block;
                text-align: justify;
                text-align-last: justify;
                -webkit-text-align-last: justify;
                width: 100%;
                height: $base-line-height;
            }

            &.row:first-of-type {
                text-indent: 3mm;
            }

            &.row:last-of-type {
                text-align-last: auto;
                -webkit-text-align-last: auto;
            }
        }

        .alf-is-overflow {
            p {
                margin-bottom: 0 !important;
            }

            .body-text span {
                &.row:first-of-type {
                    text-indent: 0 !important;
                }
            }
        }

        .alf-block, p, span {
            font-family: "Guardian Text Egypt";
            text-rendering: optimizeLegibility;
            font-kerning: none;
            font-weight: normal;
            font-size: 8.4pt;
            line-height: $base-line-height;
            letter-spacing: -.1mm;
            word-spacing: -.05mm;
        }

        .alf-block-is-first {
            .row {
                text-indent: 0 !important;
            }

            .row:first-child:first-letter {
                color: #000;
                float: left;
                font-size: 31.6pt;
                line-height: 0.6em;
                padding: 0;
                margin: 8.7pt 2pt 0 0;
                font-weight: 800;
            }
        }

        // Only works for single-line titles
        // How to handle multi-line titles in a good way?
        h2, h3 {
            font-family: "Guardian Sans";
            font-weight: 800;
            font-size: 12pt;
            line-height: 13pt;
            height: 13pt;
            margin-top: 6pt;
            margin-bottom: 1.8pt;
            text-indent: 0;

            + .alf-block .row {
                text-indent: 0 !important;
            }
        }

        blockquote {
            margin: 0;

            p, small {
                font-family: "Guardian Sans";
                font-size: 13.3pt;
                line-height: 15pt;
            }

            small {
                font-size: 10pt;
            }
        }
    }

    .alf-container {
        .overlay-caption {
            font-family: "Guardian Sans";
            font-weight: 500;
            font-size: 3.3mm;
            line-height: 4mm;
            margin-top: 1mm;
        }
    }

    .section {
        font-family: "Guardian Sans";
        font-weight: 800;
        color: rgb(1, 102, 179);
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        text-transform: uppercase;
        padding: 4pt 0 2pt 0;
    }

    .byline {
        font-family: "Guardian Sans";
        font-weight: 800;
        padding-bottom: 12pt;
    }

    .the-end {
        border-top: 1px solid #CCC;
        padding-top: 2px;
        font-family: "Guardian Sans";
        font-weight: 100;
        font-size: 8pt;
    }

    @import "_factbox";
    @import "_templates";
}
