/* Guardian Agate Sans */
@font-face {
  font-family: 'Guardian Agate Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/GuardianAgateSans-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Guardian Agate Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/GuardianAgateSans-Black.otf') format('opentype');
}

/* Guardian Egypt */
@font-face {
  font-family: 'Guardian Egypt';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/GuardianEgyp-Black.otf') format('opentype');
}

/* Guardian Text Egypt*/
@font-face {
  font-family: 'Guardian Text Egypt';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/GuardianTextEgyp-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Guardian Text Egypt';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/GuardianTextEgyp-Black.otf') format('opentype');
}

/* Guardian Sans */
@font-face {
  font-family: 'Guardian Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/GuardianSans-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Guardian Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/GuardianSans-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Guardian Sans';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/GuardianSans-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Guardian Sans';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/GuardianSans-Ultra-It.otf') format('opentype');
}

/* Zapf */
@font-face {
  font-family: 'Zapf Dingbats';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ZapfDingbats.otf') format('opentype');
}
