@import "mixins/_grid";
@import "_fontface";

html, body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

.alf-chrome {
    background: #FFF;
    overflow: hidden;
    line-height: 10.4pt;
}

.alf-rev-#{$alf-revision} {
    font-family: Arial;
    line-height: 10.4pt;

    @include grid(5, 280mm, 46.4mm, 17mm);

    .alf-template {
        background: #FFF;
    }

    h1 {
        font-family: "Guardian Egypt";
        font-weight: 800;

        line-height: 10.4pt;
        margin: 5mm 0 8mm 0;
    }

    .body-text {
        p, span {
            font-family: "Guardian Text Egypt";
            text-rendering: optimizeLegibility;
            font-kerning: none;
            font-weight: normal;
            font-size: 8.4pt;
            line-height: 10.4pt;
            letter-spacing: -.1mm;
            word-spacing: -.05mm;
        }
    }

    .alf-region {
        overflow: hidden;

        h2 {
            font-family: "Guardian Sans";
            font-weight: 800;
            font-size: 12pt;
            line-height: 13pt;
            margin-top: 6pt;
            margin-bottom: 1.8pt;
            text-indent: 0;
        }

        blockquote {
            font-family: "Guardian Sans";
            font-size: 4.7mm;
            line-height: 5.2mm;
            margin: 0;
        }
    }

    .alf-container {
        .overlay-caption {
            font-family: "Guardian Sans";
            font-weight: 500;
            font-size: 3.3mm;
            line-height: 4mm;
            margin-top: 1mm;
        }
    }
}
