@import "mixins/_grid";
@import "_fontface";

.alf-rev-#{$alf-revision} {
    font-family: Arial;
    line-height: 4mm;

    @include grid(5, 280mm, 46.4mm, 17mm);

    .alf-template {
        background: #FFF;
    }

    h1 {
        font-family: "Guardian Egypt";
        font-weight: 800;
        font-size: 16mm;
        line-height: 1em;
        margin: 5mm 0 12mm 0;
    }

    .body-text p,
    .body-text span {
        font-family: "Guardian Text Egypt";
        text-rendering: optimizeLegibility;
        font-kerning: none;
        font-weight: normal;
        font-size: 3.15mm;
        line-height: 4mm;
        letter-spacing: -.1mm;
        word-spacing: -.05mm;
    }

    .alf-region {
        overflow: hidden;
    }
}
