<div
    data-name="quote"
    data-color="#1487cd"
    class="alf-component alf-container quote"
    data-map="quote">
    <blockquote>
        <p class="quote-text" data-select-inner="[itemprop='text']"></p>
        <div class="alf-align">
            <p class="quote-creator" data-select-inner="[itemprop='creator']" ></p>
        </div>
    </blockquote>
</div>

<div
    data-name="quote--text-column"
    data-color="#93b2c5"
    data-description="Quote with fallback text-column"
    class="alf-component alf-flex text-column--quote u-flex-column"
    >
    <div class="alf-is-optional alf-is-removable u-size-full-height" data-component="quote"></div>
    <div class="u-flex" data-component="text-column"></div>
</div>
