$caption-side-padding: 7.86px;

.picture {
	-ro-pdf-overprint: none;
	-ro-pdf-overprint-content: none;

	.alf-container {
		position: relative;
	}

	.image {
		-ro-pdf-overprint: none;
		-ro-pdf-overprint-content: none;

		img {
			display: block;
		}
	}

	&.alf-smart-crop,
	.alf-smart-crop {
		> div {
			height: auto;
		}

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	.overlay-caption {
		font-family: DNSharpGroteskMedium-18;
		font-weight: normal;
		font-size: 3.3mm;
		line-height: 4mm;
		margin-top: 1mm;
	}

	figcaption, .figcaption {
		-ro-pdf-overprint: none;
		background-color: #FFF;
		font-family: DNSharpGroteskMedium-18;
		font-weight: normal;
		font-size: 7.4pt;
		line-height: $base-line-height;
		padding: 0;
		transform: translateY(4px);

		@media print {
			background-color: CMYK(0%, 0%, 0%, 0%);
		}

		.figcaption-inner:before {
			content: '↑';
			display: inline-block;
			font-size: 7.4pt;
			font-family: SharpGroteskBook17;
		}

		* {
			-ro-pdf-overprint: mode1;
		}

		.description {
			-ro-pdf-overprint: mode1;
			-ro-pdf-overprint-content: mode1;

			p {
				display: inline;
			}
		}

		.credit div {
			-ro-pdf-overprint: mode1;
			-ro-pdf-overprint-content: mode1;
		}
	}
}

.picture--fill {
	> div {
		display: flex;
		height: 100%;
		flex-direction: column;

		img {
			flex: 1;
			object-fit: cover;
		}
	}
}

.picture--main {
	--alf-grid-align-top: baseline;
	--alf-grid-align-bottom: baseline;

	> div {
		height: 100%;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		--alf-grid-align-top: baseline;
		--alf-grid-align-bottom: baseline;
	}
}

$image-bottom-padding: $base-line-height - 0.25pt;

[class*=picture--caption-inline-] {
	.caption {
		position: absolute;

		figcaption, .figcaption {
			width: 46mm;
			box-sizing: border-box;
			padding: 4mm;
			transform: translateY(0);
			background-color: transparent;
			color: #FFF;

			@media print {
				background-color: transparent;
				color: CMYK(0%, 0%, 0%, 0%);
			}

			.figcaption-inner:before {
				content: '';
				display: none;
			}

			p, .credit {
				color: #FFF;

				@media print {
					color: CMYK(0%, 0%, 0%, 0%);
				}
			}
		}
	}

	.image {
		padding-bottom: $image-bottom-padding;
		border-width: 0 0 0.25pt 0;
		border-style: solid;
		border-color: #000;

		@media print {
			border-color: CMYK(0%, 0%, 0%, 100%);
		}
	}
}
.picture--caption-inline-top-left {
	.caption {
		top: 0;
		left: 0;
		padding-top: 0;
		padding-left: 0;
	}
}

.picture--caption-inline-top-right {
	.caption {
		top: 0;
		right: 0;
	}
}

.picture--caption-inline-bottom-right {
	.caption {
		bottom: $image-bottom-padding;
		right: 0;
	}
}

.picture--caption-inline-bottom-left {
	.caption {
		bottom: $image-bottom-padding;
		left: 0;
	}
}

.picture--headline-overlay {
	.headline {
		-ro-pdf-overprint: none;
		-ro-pdf-overprint-content: none;
		position: absolute;
		top: $base-line-height;
		left: $base-line-height;

		h1 {
			-ro-pdf-overprint: none;
			-ro-pdf-overprint-content: none;
			line-height: 0.93em;
			text-shadow: 0px 0px 12px #000, 0px 0px 12px #000;

			@media print {
				text-shadow: 0px 0px 12px CMYK(0%, 0%, 0%, 100%), 0px 0px 12px CMYK(0%, 0%, 0%, 100%);
			}
		}

		h1, .dash {
			color: #FFF;

			@media print {
				color: CMYK(0%, 0%, 0%, 0%);
			}
		}
	}
}

.picture--caption-hide {
	.caption {
		display: none;
	}
}

.picture--caption-standalone {
	.caption {
		transform: translateY(-3px);
	}
}
