.picture {
	-ro-pdf-overprint: none;
	-ro-pdf-overprint-content: none;

	.alf-container {
		position: relative;
	}

	.image {
		-ro-pdf-overprint: none;
		-ro-pdf-overprint-content: none;

		img, canvas {
			display: block;
		}
	}

	&.alf-smart-crop,
	.alf-smart-crop {
		> div {
			height: auto;
		}

		img, canvas {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
}

.picture--fill {
	--alf-grid-cell-gap-left: none;
	--alf-grid-cell-gap-right: none;

	.image {
		margin-top: $base-line-height * -1;
	}
}

.picture--main {
	--alf-grid-align-top: baseline;
	--alf-grid-align-bottom: baseline;

	> div {
		height: 100%;
	}

	img, canvas {
		width: 100%;
		height: 100%;
		object-fit: cover;
		--alf-grid-align-top: baseline;
		--alf-grid-align-bottom: baseline;
		color: #48bb43;
	}

	.caption {
		display: none;
	}
}

.picture--caption-vert-left {
	figure {
		position: relative;
	}

	.caption {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		transform-origin: 100% 100%;
		transform: translateX(-100%) translateY(-100%) rotate(-90deg);
	}
}

$image-bottom-padding: $base-line-height - 0.25pt;

.picture--border {
	.image {
		padding-bottom: $image-bottom-padding;
		border-width: 0 0 0.25pt 0;
		border-style: solid;
		border-color: #000;

		@media print {
			border-color: var(--color-black-cmyk);
		}
	}
}


.headline--overlay {
	.headline {
		-ro-pdf-overprint: none;
		-ro-pdf-overprint-content: none;
		position: absolute;
		top: $base-line-height;
		left: $base-line-height;

		h1 {
			-ro-pdf-overprint: none;
			-ro-pdf-overprint-content: none;
			line-height: 0.93em;
			text-shadow: 0px 0px 12px #000, 0px 0px 12px #000;

			@media print {
				text-shadow: 0px 0px 12px var(--color-black-cmyk), 0px 0px 12px var(--color-black-cmyk);
			}
		}

		h1, .dash {
			color: #FFF;

			@media print {
				color: CMYK(0%, 0%, 0%, 0%);
			}
		}
	}
}

.picture-crop-mode--safe {
	canvas, img, .alf-image {
		--alf-image-crop-mode: safe;
	}
}

.picture-crop-mode--tight {
	canvas, img, .alf-image {
		--alf-image-crop-mode: tight;
	}
}

.picture-crop-mode--focus-point {
	canvas, img, .alf-image {
		--alf-image-crop-mode: focus-point;
	}
}

.picture-crop-mode--tight-focus-point {
	canvas, img, .alf-image {
		--alf-image-crop-mode: tight-focus-point;
	}
}
