<div
    data-name="picture"
    data-color="#48bb43"
    class="alf-component alf-container picture alf-smart-crop"
    data-options=".alf-is-auto-adjustable caption"
    data-map="picture"
>
    <figure>
        <div class="image" data-select="img"></div>
        <figcaption class="figcaption">
            <div class="ficaption-inner">
                <span class="alf-hyphenate description" data-select-inner=".figcaption [itemprop='description']"></span>
                <span class="credit" data-select-inner=".figcaption [data-element-type='credit']"></span>
            </div>
        </figcaption>
    </figure>
</div>

<div
    data-name="picture--main"
    data-color="#24dc1c"
    class="alf-component alf-container picture picture--main alf-smart-crop"
    data-map="lead-asset picture-0 picture-1"
    data-options=".alf-is-auto-adjustable caption"
    data-bla-bla="value1"
>
    <figure>
        <div class="image" data-select="img"></div>
        <figcaption class="figcaption">
            <div class="ficaption-inner">
                <span class="alf-hyphenate description" data-select-inner=".figcaption [itemprop='description']"></span>
                <span class="credit" data-select-inner=".figcaption [data-element-type='credit']"></span>
            </div>
        </figcaption>
    </figure>
</div>

<div
    data-name="picture--main-with-title"
    data-color="#24dc1c"
    class="alf-component picture picture--main picture--caption-inline-bottom-right picture--headline-overlay"
    data-options=".alf-is-auto-adjustable caption"
>
    <div
        class="alf-container alf-smart-crop u-overflow-hidden"
        data-map="lead-asset picture-0 picture-1"
        data-type="image"
        data-ref="picture-main">
        <figure>
            <div class="image" data-select="img"></div>
        </figure>
    </div>
    <div class="picture">
        <figcaption class="figcaption alf-container" data-ref="picture-main">
            <div class="alf-hyphenate description" data-select=".figcaption [itemprop='description']"></div>
            <div class="credit" data-select=".figcaption [data-element-type='credit']"></div>
        </figcaption>
    </div>
    <div data-component="headline"></div>
</div>
