<div
    data-name="picture"
    data-color="#48bb43"
    class="alf-component picture"
    data-options=".alf-is-auto-adjustable .u-no-margin"
>
    <figure>
        <div class="alf-container alf-smart-crop image" data-map="picture">
            <div class="image-wrapper" data-select="img"></div>
        </div>
    </figure>
</div>

<div
    data-name="picture--main"
    data-color="#24dc1c"
    class="alf-component picture picture--main"
    data-ref="picture--main"
    data-options=".alf-is-auto-adjustable .u-no-margin"
>
    <figure>
        <div class="alf-container alf-smart-crop image" data-map="lead-asset picture-0 picture-1">
            <div class="image-wrapper" data-select="img"></div>
        </div>
    </figure>
</div>
