.picture {
	-ro-pdf-overprint: none;
	-ro-pdf-overprint-content: none;

	.alf-container {
		position: relative;
	}

	.image {
		-ro-pdf-overprint: none;
		-ro-pdf-overprint-content: none;
		-ro-image-resampling: 200dpi;

		img {
			display: block;
		}
	}

	&.alf-smart-crop,
	.alf-smart-crop {
		> div {
			height: auto;
		}

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	.overlay-caption {
		font-family: "GuardianSans-Medium";
		font-weight: normal;
		font-size: 3.3mm;
		line-height: 4mm;
		margin-top: 1mm;
	}

	figcaption, .figcaption {
		-ro-pdf-overprint: none;
		background-color: #FFF;
		font-family: "Guardian TextSans";
		font-weight: 800;
		font-size: $base-font-size;
		line-height: $base-line-height;
		padding: 0;

		@media print {
			background-color: CMYK(0%, 0%, 0%, 0%);
		}

		&.figcaption--transparent {
			background-color: transparent;

			@media print {
				background-color: transparent;
			}

			p {
				color: #FFF;

				@media print {
					color: CMYK(0%, 0%, 0%, 0%);
				}
			}
		}

		* {
			-ro-pdf-overprint: mode1;
		}

		.description {
			-ro-pdf-overprint: mode1;
			-ro-pdf-overprint-content: mode1;

			p {
				display: inline;
			}
		}

		.credit div {
			-ro-pdf-overprint: mode1;
			-ro-pdf-overprint-content: mode1;
		}
	}
}

.picture--fill {
	> div {
		display: flex;
		height: 100%;
		flex-direction: column;

		img {
			flex: 1;
			object-fit: cover;
		}
	}
}

.picture--main {
	> div {
		height: 100%;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.picture--caption-below {
	figcaption, .figcaption {
		transform: translateY(3.7px);
	}
}

.picture--caption-inline,
.picture--caption-inline-left,
.picture--caption-inline-top-left,
.picture--caption-inline-top-right {
	figcaption, .figcaption {
		position: absolute;
		bottom: 0;
		right: 0;
		width: calc(46mm + 7.86px);
		padding: 0 0 0 7.86px;
		transform: translateY(-1.3px);
	}
}


.picture--caption-inline-left {
	figcaption, .figcaption {
		right: auto;
		left: 0;
	}
}

.picture--caption-inline-top-left {
	figcaption, .figcaption {
		right: auto;
		left: 0;
		top: 0;
		bottom: auto;
	}
}

.picture--caption-inline-top-right {
	figcaption, .figcaption {
		right: -0.3px;
		left: auto;
		top: 0;
		bottom: auto;
		padding: 0 0 3px 7.86px;
		width: calc(46mm + 7.86px);
	}
}

.picture--caption-inline-bottom-right {
	figcaption, .figcaption {
		position: absolute;
		right: -0.3px;
		left: auto;
		top: auto;
		bottom: 0;
		padding: 6pt 0 3px 7.86px;
		width: calc(46mm + 7.86px);
		transform: translateY(6px);
	}
}

.picture--caption-inline-bottom-left {
	figcaption, .figcaption {
		position: absolute;
		right: auto;
		left: 0;
		top: auto;
		bottom: 0;
		padding: 0 0 6pt 6pt;
		width: calc(46mm + 7.86px);
		transform: translateY(6px);
	}
}

.picture--headline-overlay {
	.headline {
		-ro-pdf-overprint: none;
		-ro-pdf-overprint-content: none;
		position: absolute;
		top: $base-line-height;
		left: $base-line-height;

		h1 {
			-ro-pdf-overprint: none;
			-ro-pdf-overprint-content: none;
			line-height: 0.93em;
			text-shadow: 0px 0px 12px #000, 0px 0px 12px #000;

			@media print {
				text-shadow: 0px 0px 12px CMYK(0%, 0%, 0%, 100%), 0px 0px 12px CMYK(0%, 0%, 0%, 100%);
			}
		}

		h1, .dash {
			color: #FFF;

			@media print {
				color: CMYK(0%, 0%, 0%, 0%);
			}
		}
	}
}
