<div
    data-name="picture"
    data-color="#48bb43"
    class="alf-component alf-container alf-smart-crop picture"
    data-map="picture"
    data-options="picture .alf-is-auto-adjustable .u-no-margin"
>
    <figure>
        <div class="image">
            <div class="image-wrapper" data-select="img"></div>
        </div>
    </figure>
</div>

<div
    data-name="picture--main"
    data-color="#24dc1c"
    class="alf-component alf-container alf-smart-crop picture picture--main"
    data-map="lead-asset picture-0 picture-1"
    data-options="picture .alf-is-auto-adjustable .u-no-margin"
>
    <figure>
        <div class="image">
            <div class="image-wrapper" data-select="img"></div>
        </div>
    </figure>
</div>
