<div id="lp-config">
{
    "grid": {
        "units": "px",
        "height": 13.88,
        "xHeight": 8.92
    },
    "fonts": [
        {
            "family": "Guardian Sans Cond",
            "style": "normal",
            "weight": 400,
            "metrics": {
                "letterHeight": 734,
                "ascent": 881,
                "descent": 229,
                "lineGap": 0
            }
        },
        {
            "family": "Guardian Sans XCond",
            "style": "normal",
            "weight": 800,
            "metrics": {
                "letterHeight": 731,
                "ascent": 877,
                "descent": 224,
                "lineGap": 0
            }
        }
    ]
}
</div>
