<div
	data-name="EM 10 5000 1img08 1head10"
	data-filter-format-name="spread"
	data-map="article--DN_Nyhet_5000" 
	data-score="200"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-10">
	<div class="alf-col-1 alf-colspan-10 headline--73" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-2 intro--large" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-3 alf-colspan-8 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="picture"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-6 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-7 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-8 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-9 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-10 alf-colspan-1" data-component="text-column"></div>
</div>


<div 
     	data-name="EM 05 1img05 1head05 2fact" 
     	data-filter-format-name="fullpage fullpage-two images one optional" 
     	data-map="article--DN_Nyhet_3500" 
	data-score="150" 
     	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-5">
	<div class="alf-col-1 alf-colspan-5 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-5 headline--94" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-2 alf-colspan-2 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-4 alf-colspan-1 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-3 alf-colspan-1 alf-is-removable alf-is-optional" data-component="infographic"></div>
	<div class="alf-col-4 alf-colspan-2 alf-is-removable alf-is-optional" data-component="picture"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-4 alf-colspan-1 alf-is-optional" data-component="quote"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column--portrait"></div>
</div>

<div
	data-name="EM 05 2img04 1head05"
	data-filter-format-name="fullpage fullpage-two images"
	data-map="article--DN_Nyhet_3500" 
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-5">
	<div class="alf-col-1 alf-colspan-5" data-component="headline"></div>
	<div class="alf-col-2 alf-colspan-4 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="infographic"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column--portrait"></div>	
	<div class="alf-col-3 alf-colspan-3" data-component="picture"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
</div>


<div
	data-name="EM 05 1img05 1head05inImage M15"
	data-filter-format-name="fullpage fullpage-one image headinimage M15"
	data-map="article--DN_Nyhet_3500" 
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-5">
	<div class="alf-col-1 alf-colspan-0 alf-overlay-colspan-1 headline--63" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-5" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="emails"></div>
	<div class="alf-col-1 alf-colspan-5 ad--1 alf-is-optional" data-component="ad"></div>
</div>

<div
	data-name="EM 05 1img04 1head05 M15"
	data-filter-format-name="fullpage fullpage-two images M15"
	data-map="article--DN_Nyhet_3500" 
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-5">
	<div class="alf-col-1 alf-colspan-5" data-component="headline"></div>
	<div class="alf-col-2 alf-colspan-4 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-4 alf-colspan-2 alf-is-auto-adjustable alf-is-removable alf-is-optional" data-component="picture"></div>
	<div class="alf-col-2 alf-colspan-2 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="infographic"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-4 alf-colspan-1 alf-is-removable alf-is-optional" data-component="quote"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-1 alf-colspan-5 ad--1 alf-is-optional" data-component="ad"></div>
</div>



<div
	data-name="EM 02 1img02Top 1head02 1fact 1quote"
	data-filter-format-name="fullpage fullpage-two images one optional"
	data-score="100"
	data-map="article--DN_Nyhet_3500" 
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-2">
	<div class="alf-col-1 alf-colspan-2 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-2 headline--52" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="quote"></div>
</div>

<div
	data-name="EM 02 1img01Top 1head02 1fact 1quote"
	data-filter-format-name="fullpage fullpage-two images one optional"
	data-map="article--DN_Nyhet_3500" 
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-2">
	<div class="alf-col-1 alf-colspan-2 headline--52" data-component="headline"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="quote"></div>
</div>

<div
	data-name="EM 02 1img02Bottom 1head02 1fact 1quote"
	data-filter-format-name="fullpage fullpage-two images one optional"
	data-map="article--DN_Nyhet_3500" 
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-2">
	<div class="alf-col-1 alf-colspan-2 headline--52" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="quote"></div>
	<div class="alf-col-1 alf-colspan-2 alf-is-auto-adjustable" data-component="picture--main"></div>
</div>





<div
	data-name="EM 10 3500 1img08 1head10 2fact"
	data-filter-format-name="spread"
	data-map="article--DN_Nyhet_3500" 
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-10">
	<div class="alf-col-1 alf-colspan-10 headline--xl" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-2 intro--large" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-3 alf-colspan-8 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="quote"></div>
</div>


<div
	data-name="EM 10 1img08 3head03box 2fact"
	data-filter-format-name="spread"
	data-map="article"
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-10">
	<div class="alf-col-1 alf-colspan-2 alf-overlay-colspan-3 headline--135 headline--box-shadow-lines" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-2 intro--large" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-8 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-6 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-7 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-8 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-9 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-10 alf-colspan-1" data-component="text-column"></div>
</div>
