
<div data-name="EM 05 1img05 1head05stretch 2fact" data-filter-format-name="fullpage fullpage-two images one optional" data-map="article--DN_Nyhet_3500" data-score="150" class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-5">
	<div class="alf-col-1 alf-colspan-5 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-5 headline--63" data-component="headline--stretch"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-2 alf-colspan-2 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-4 alf-colspan-1 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-3 alf-colspan-1 alf-is-removable alf-is-optional" data-component="infographic"></div>
	<div class="alf-col-4 alf-colspan-2 alf-is-removable alf-is-optional" data-component="picture"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-4 alf-colspan-1 alf-is-optional" data-component="quote"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column--portrait"></div>
</div>



<div
	data-name="EM Meninger 05 1img05 1head05"
	data-filter-format-name="fullpage fullpage-ad-25"
	data-map="article--DN_Kommentar"
	data-score="100"
	class="alf-template alf-grid alf-grid-5 theme--dn alf-cols-5">
	<div class="alf-col-1 alf-colspan-5 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-5 headline--meninger--52_6" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-5 intro--21_4 intro--light" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-1 alf-colspan-5 meninger-footer" data-component="null"></div>
</div>



<div
	data-name="EM 05 BODYTEST"
	data-filter-format-name="fullpage fullpage-two images one optional"
	data-map="article--DN_Nyhet_3500"
	data-score="150"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-5">
	<div class="alf-col-1 alf-colspan-5 headline--94_2" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
</div>


<div
	data-name="EM Notis 01sp 1port"
	data-filter-format-name="fullpage notis"
	data-map="article--DN_Notis"
	data-score="100"
	class="alf-template alf-grid alf-grid-5 theme--dn alf-cols-1">
	<div class="alf-col-1 alf-colspan-1 headline--23" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-1 alf-colspan-1 alf-is-optional" data-component="portrait"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
</div>

<div
	data-name="EM 02 1img02Top 1head02 1fact 1quote"
	data-filter-format-name="fullpage fullpage-two images one optional"
	data-score="100"
	data-map="article--DN_Nyhet_3500 article--DN_Nyhet_2500" 
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-2">
	<div class="alf-col-1 alf-colspan-2 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-2 headline--52_6" data-component="headline--stretch"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="quote"></div>
</div>


<div
	data-name="EM 02 1img01Top 1head02 1fact 1quote"
	data-filter-format-name="fullpage fullpage-two images one optional"
	data-map="article--DN_Nyhet_3500 article--DN_Nyhet_2500" 
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-2">
	<div class="alf-col-1 alf-colspan-2 headline--52_6" data-component="headline--stretch"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="quote"></div>
</div>


<div
	data-name="EM 02 1img02Bottom 1head02 1fact 1quote"
	data-filter-format-name="fullpage fullpage-two images one optional"
	data-map="article--DN_Nyhet_3500 article--DN_Nyhet_2500" 
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-2">
	<div class="alf-col-1 alf-colspan-2 headline--52_6" data-component="headline--stretch"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="quote"></div>
	<div class="alf-col-1 alf-colspan-2 alf-is-auto-adjustable" data-component="picture--main"></div>
</div>





<div
	data-name="EM 05 2img04 1head05"
	data-filter-format-name="fullpage fullpage-two images"
	data-map="article--DN_Nyhet_3500" 
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-5">
	<div class="alf-col-1 alf-colspan-5 headline--94_2" data-component="headline"></div>
	<div class="alf-col-2 alf-colspan-4 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="infographic"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column--portrait"></div>	
	<div class="alf-col-3 alf-colspan-3" data-component="picture"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
</div>


<div
	data-name="EM 05 1img05 3head03boxStretch M15"
	data-filter-format-name="fullpage fullpage-one image headinimage M15"
	data-map="article--DN_Nyhet_3500"
	data-score="0"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-5">
	<div class="alf-col-1 alf-colspan-0 alf-overlay-colspan-2 headline--94_2 headline--box-shadow-lines" data-component="headline--stretch"></div>
	<div class="alf-col-1 alf-colspan-5 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-1 alf-colspan-5 ad--1 alf-is-optional" data-component="ad"></div>
</div>

<div
	data-name="EM 05 1img04 1head05 M15"
	data-filter-format-name="fullpage fullpage-two images M15"
	data-map="article--DN_Nyhet_3500"
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-5">
	<div class="alf-col-1 alf-colspan-5 headline--94_2" data-component="headline"></div>
	<div class="alf-col-2 alf-colspan-4 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-4 alf-colspan-2 alf-is-removable alf-is-optional" data-component="picture"></div>
	<div class="alf-col-2 alf-colspan-2 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="infographic"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1 alf-is-removable alf-is-optional" data-component="quote"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-1 alf-colspan-5 ad--1 alf-is-optional" data-component="ad"></div>
</div>

<div
	data-name="EM 08 5000 1img08 1head10"
	data-filter-format-name="spread"
	data-map="article--DN_Nyhet_3500 article--DN_Nyhet_5000"
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-8">
	<div class="alf-col-1 alf-colspan-8 headline--115" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-2 intro--large" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-3 alf-colspan-6 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="picture"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-6 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-7 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-8 alf-colspan-1" data-component="text-column--portrait"></div>
</div>





<div
	data-name="EM 10 5000 1img08 1head10"
	data-filter-format-name="spread"
	data-map="article--DN_Nyhet_3500 article--DN_Nyhet_5000"
	data-score="150"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-10">
	<div class="alf-col-1 alf-colspan-10 headline--135_8" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-2 intro--large" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-3 alf-colspan-8 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="picture"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-6 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-7 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-8 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-9 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-10 alf-colspan-1" data-component="text-column"></div>
</div>


<div
	data-name="EM 10 5000 1img08 3img02 1head10"
	data-filter-format-name="spread"
	data-map="article--DN_Nyhet_5000"
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-10">
	<div class="alf-col-1 alf-colspan-8 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-9 alf-colspan-2 alf-flex" data-component="picture"></div>
	<div class="alf-col-9 alf-colspan-2 alf-flex" data-component="picture"></div>
	<div class="alf-col-9 alf-colspan-2 alf-flex" data-component="picture"></div>
	<div class="alf-col-1 alf-colspan-10 headline--135_8" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-3 intro--large" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-6 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-7 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-8 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-9 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-10 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-7 alf-colspan-1 alf-is-removable alf-is-optional" data-component="quote"></div>
</div>

<div
	data-name="EM 10 3500 1img08 1head10 2fact"
	data-filter-format-name="spread"
	data-map="article--DN_Nyhet_3500 article--DN_Nyhet_5000" 
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-10">
	<div class="alf-col-1 alf-colspan-10 headline--135_8" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-2 intro--large" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-3 alf-colspan-8 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-optional" data-component="quote"></div>
</div>


<div
	data-name="EM 10 1img08 3head03boxStretch 2fact 1quote"
	data-filter-format-name="spread"
	data-map="article--DN_Nyhet_3500 article--DN_Nyhet_5000" 
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-10">
	<div class="alf-col-1 alf-colspan-2 alf-overlay-colspan-4 headline--135_8 headline--box-shadow-lines" data-component="headline--stretch"></div>
	<div class="alf-col-1 alf-colspan-2 intro--large" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-8 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-6 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-7 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-8 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-9 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-10 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-4 alf-colspan-1 alf-is-removable alf-is-optional" data-component="quote"></div>
</div>


<div
	data-name="EM 10 5000 1img07 1head10stretch M15"
	data-filter-format-name="spread"
	data-map="article--DN_Nyhet_5000"
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-10">
	<div class="alf-col-1 alf-colspan-10 headline--135_8" data-component="headline"></div>
	<div class="alf-col-1 alf-colspan-3 intro--large" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-4 alf-colspan-7 alf-flex" data-component="picture--main"></div>
	<div class="alf-col-2 alf-colspan-2 alf-is-removable alf-is-optional" data-component="infographic"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="picture"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-auto-adjustable alf-is-removable alf-is-optional" data-component="quote"></div>
	<div class="alf-col-3 alf-colspan-1 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-6 alf-colspan-5 ad--1 alf-is-optional" data-component="ad"></div>
</div>

<div
	data-name="EM 10 5000 1img07 1head10stretch"
	data-filter-format-name="spread"
	data-map="article--DN_Nyhet_3500 article--DN_Nyhet_5000" 
	data-score="100"
	class="alf-template alf-grid alf-grid-5 alf-justify-text theme--dn alf-cols-10">
	<div class="alf-col-1 alf-colspan-10 headline--135_8" data-component="headline--stretch"></div>
	<div class="alf-col-1 alf-colspan-3 intro--large" data-component="intro"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="byline"></div>
	<div class="alf-col-4 alf-colspan-7 alf-is-auto-adjustable" data-component="picture--main"></div>
	<div class="alf-col-2 alf-colspan-2 alf-is-removable alf-is-optional" data-component="infographic"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-removable alf-is-optional" data-component="picture"></div>
	<div class="alf-col-1 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-2 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-2 alf-colspan-1 alf-is-auto-adjustable alf-is-removable alf-is-optional" data-component="quote"></div>
	<div class="alf-col-3 alf-colspan-1 alf-is-removable alf-is-optional" data-component="fact-box"></div>
	<div class="alf-col-3 alf-colspan-1" data-component="text-column--portrait"></div>
	<div class="alf-col-4 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-5 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-6 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-7 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-8 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-9 alf-colspan-1" data-component="text-column"></div>
	<div class="alf-col-10 alf-colspan-1" data-component="text-column"></div>
</div>
