<div
    data-name="Print 1"
    data-filter-format-name="tabloid"
    data-map="article word-count-gt-800"
    class="alf-template alf-grid alf-cols-5">
    <div class="alf-col-1 alf-colspan-5 alf-container alf-is-auto-adjustable overflow-hidden" data-type="image" data-map="**-large"></div>
    <div class="alf-col-1 alf-colspan-5">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-colspan-2 alf-is-resizable alf-container alf-is-auto-adjustable overflow-hidden " data-map="**-large"></div>
</div>

<div
    data-name="Print 2"
    data-filter-format-name="tabloid"
    data-map="article word-count-gt-800"
    class="alf-template alf-grid alf-cols-5">
    <div class="alf-col-1 alf-colspan-5 alf-is-auto-adjustable overflow-hidden">
        <div class="alf-container" data-type="image" data-map="**-large"></div>
        <div class="pos--abs pos--bottom">
            <div class="alf-container alf-is-editable text--bright alf-is-draggable" data-map="title"></div>
        </div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-colspan-2 alf-is-resizable alf-container alf-is-auto-adjustable overflow-hidden " data-map="**-large"></div>
</div>
