<div
    data-name="Fullpage 1 right"
    data-filter-format-name="fullpage"
    data-map="article"
    class="alf-template alf-grid alf-cols-5 fullpage fullpage-1">
    <div class="alf-col-1 alf-colspan-2">
        <div class="alf-container alf-is-editable headline-large" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-container text-intro" data-map="excerpt"></div>
    <div class="alf-col-1 alf-container section" data-map="section"></div>
    <div class="alf-col-1 alf-container byline" data-map="byline"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-colspan-3 alf-container alf-is-auto-adjustable overflow-hidden" data-type="image" data-map="**-large"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-3 the-end">redaksjonen@dn.no</div>
    <div class="alf-col-4 alf-flex alf-colspan-2 fact-box">
        <div class="alf-container" data-map="fact-box"></div>
    </div>
</div>

<div
    data-name="Fullpage 1 left"
    data-filter-format-name="fullpage"
    data-map="article"
    class="alf-template alf-grid alf-cols-5 fullpage fullpage-1">
    <div class="alf-col-1 alf-colspan-5">
        <div class="alf-container alf-is-editable headline-large" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-container text-intro" data-map="excerpt"></div>
    <div class="alf-col-1 alf-container section" data-map="section"></div>
    <div class="alf-col-1 alf-container byline" data-map="byline"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-3 the-end">redaksjonen@dn.no</div>
    <div class="alf-col-1 alf-colspan-3 alf-container alf-is-auto-adjustable overflow-hidden" data-type="image" data-map="**-large"></div>
    <div class="alf-col-4 alf-flex alf-colspan-2 fact-box">
        <div class="alf-container" data-map="fact-box"></div>
    </div>
</div>

<div
    data-name="Fullpage meninger"
    data-filter-format-name="fullpage"
    data-map="article"
    class="alf-template alf-grid alf-cols-5 fullpage fullpage-meninger">
    <div class="alf-col-1 alf-colspan-5 alf-container alf-is-editable headline-large" data-map="title"></div>
    <div class="alf-col-1 alf-colspan-5 alf-container text-intro" data-map="excerpt"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-colspan-4 alf-container alf-is-auto-adjustable overflow-hidden" data-type="image" data-map="**-large"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-5 the-end">
        <div class="alf-col-1 alf-container byline" data-map="byline"></div>
    </div>
</div>

<div
    data-name="Spread 1"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-cols-10 spread spread-1">
    <div class="alf-col-1 alf-colspan-9 alf-container alf-is-auto-adjustable overflow-hidden bottom-margin" data-type="image" data-map="**-large"></div>
    <div class="alf-col-10 fact-box">
        <div class="alf-container" data-map="fact-box"></div>
    </div>
    <div class="alf-col-1 alf-colspan-10 alf-overlay">
        <div class="alf-container alf-is-editable headline-large" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-colspan-5 alf-container text-intro" data-map="excerpt"></div>
    <div class="alf-col-1 alf-container section" data-map="section"></div>
    <div class="alf-col-1 alf-container byline" data-map="byline"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-9 alf-flex alf-region"></div>
    <div class="alf-col-10 alf-flex alf-region"></div>
</div>

<div
    data-name="Spread 2"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-cols-10 spread spread-2">
    <div class="alf-col-1 alf-colspan-2 alf-overlay-colspan-5">
        <div class="alf-container alf-is-editable headline-large" data-map="title"></div>
    </div>
    <div class="alf-col-3 alf-colspan-8 alf-container alf-is-auto-adjustable overflow-hidden bottom-margin" data-type="image" data-map="**-large"></div>
    <div class="alf-col-1 alf-colspan-2 alf-container text-intro" data-map="excerpt"></div>
    <div class="alf-col-1 alf-container section" data-map="section"></div>
    <div class="alf-col-1 alf-container byline" data-map="byline"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-9 alf-flex alf-region"></div>
    <div class="alf-col-10 alf-flex alf-region"></div>
</div>

<div
    data-name="Print 1"
    data-filter-format-name="tabloid"
    data-map="word-count-gt-800"
    class="alf-template alf-grid alf-cols-5">
    <div class="alf-col-1 alf-colspan-5 alf-container alf-is-auto-adjustable overflow-hidden" data-type="image" data-map="**-large"></div>
    <div class="alf-col-1 alf-colspan-5">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-colspan-2 alf-is-resizable alf-container alf-is-auto-adjustable overflow-hidden " data-map="**-large"></div>
</div>

<div
    data-name="Print 2"
    data-filter-format-name="tabloid"
    data-map="word-count-gt-800"
    class="alf-template alf-grid alf-cols-5">
    <div class="alf-col-1 alf-colspan-5 alf-is-auto-adjustable overflow-hidden">
        <div class="alf-container" data-type="image" data-map="**-large"></div>
        <div class="pos--abs pos--bottom">
            <div class="alf-container alf-is-editable text--bright alf-is-draggable" data-map="title"></div>
        </div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-colspan-2 alf-is-resizable alf-container alf-is-auto-adjustable overflow-hidden " data-map="**-large"></div>
</div>

<div
    data-name="Print small"
    data-filter-format-name="tabloid-small"
    data-map="word-count-lt-700"
    class="alf-template alf-grid alf-cols-5">
    <div class="alf-col-1 alf-colspan-5">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-colspan-2 alf-container alf-is-auto-adjustable overflow-hidden" data-type="image" data-map="**-large"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
</div>

<div
    data-name="Tabloid 25bx11b"
    data-filter-format-name="tabloid-25b-11b"
    data-map="word-count-lt-500"
    class="alf-template alf-grid alf-cols-5">
    <div class="alf-col-1 alf-colspan-5">
        <div class="alf-container alf-is-editable title-small" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
</div>

<div
    data-name="Tabloid top 70"
    data-filter-format-name="tabloid-top-70"
    data-map="word-count-lt-600"
    class="alf-template alf-grid alf-cols-5">
    <div class="alf-col-1 alf-colspan-5 alf-container alf-is-auto-adjustable overflow-hidden" data-type="image" data-map="**-large"></div>
    <div class="alf-col-1 alf-colspan-5">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
</div>

<div
    data-name="Tabloid top 70 2"
    data-filter-format-name="tabloid-top-70"
    data-map="word-count-lt-700"
    class="alf-template alf-grid alf-cols-5">
    <div class="alf-col-1 alf-colspan-5">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-colspan-4 alf-container alf-is-auto-adjustable overflow-hidden" data-type="image" data-map="**-large"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
</div>
