<div
    data-name="Spread width ad"
    data-filter-format-name="spread-ad"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 spread spread-b">
    <div class="alf-col-1 alf-colspan-8 alf-container alf-is-auto-adjustable alf-smart-crop alf-grid-align-document overflow-hidden caption-inline-left lead-asset" data-map="lead-asset"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container alf-is-optional alf-flex alf-smart-crop" data-map="picture-1" data-select="img"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container alf-is-optional fact-box alf-grid-align-document" grid-flex-order="2" data-map="http://schema.org/NewsArticle/facts"></div>
    <div class="alf-col-1 alf-colspan-10">
        <div class="alf-container alf-is-editable alf-stretch-to-fit headline-large" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-colspan-5 alf-container text-intro" data-map="intro"></div>
    <div class="alf-col-1">
        <div class="alf-container topic" data-map="topic"></div>
    </div>
    <div class="alf-col-1 byline-wrapper">
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-container location" data-map="location"></div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-5 the-end alf-container" data-map="emails"></div>
    <div class="alf-col-6 alf-colspan-5 ad-25b"></div>
</div>

<div
    data-name="Spread A"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 theme--dn">
    <div class="alf-col-1 alf-colspan-8" data-component="picture--main"></div>
    <div class="alf-col-9 alf-colspan-2 alf-flex" grid-flex-order="2" data-component="picture"></div>
    <div class="alf-col-9 alf-colspan-2" data-component="infographic"></div>
    <div class="alf-col-9 alf-colspan-2" data-component="fact-box"></div>
    <div class="alf-col-1 alf-colspan-10 u-no-margin" data-component="headline"></div>
    <div class="alf-col-1 alf-colspan-5 intro--large" data-component="intro"></div>
    <div class="alf-col-1" data-component="byline"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-9 alf-flex alf-region"></div>
    <div class="alf-col-10 alf-flex alf-region"></div>
    <div class="alf-col-10" data-component="emails"></div>
</div>

<div
    data-name="Spread C"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 spread spread-c">
    <div class="alf-col-1 alf-colspan-10">
        <div class="alf-container alf-is-editable alf-stretch-to-fit headline-large" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-colspan-2 alf-container text-intro" data-map="intro"></div>
    <div class="alf-col-3 alf-colspan-6 alf-container alf-is-auto-adjustable alf-smart-crop alf-grid-align-document overflow-hidden caption-inline-left lead-asset" data-map="lead-asset"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container picture alf-smart-crop alf-is-optional alf-flex" grid-flex-order="2" data-map="picture-0"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container" data-map="graphic-0" data-select="img"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container fact-box alf-grid-align-document no-margin" data-map="http://schema.org/NewsArticle/facts"></div>
    <div class="alf-col-1">
        <div class="alf-container topic" data-map="topic"></div>
    </div>
    <div class="alf-col-1 byline-wrapper">
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-container location" data-map="location"></div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-colspan-8"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-9 alf-flex alf-region"></div>
    <div class="alf-col-10 alf-flex alf-region"></div>
    <div class="alf-col-10 the-end alf-container" data-map="emails"></div>
</div>

<div
    data-name="Spread C component test"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 theme--dn">
    <div class="alf-col-1 alf-colspan-10" data-component="headline"></div>
    <div class="alf-col-1 alf-colspan-2" data-component="intro"></div>
    <div class="alf-col-3 alf-colspan-6" data-component="picture--main"></div>
    <div class="alf-col-9 alf-colspan-2" grid-flex-order="2" data-component="picture"></div>
    <div class="alf-col-9 alf-colspan-2" data-component="infographic"></div>
    <div class="alf-col-9 alf-colspan-2" data-component="fact-box"></div>
    <div class="alf-col-1" data-component="byline"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-colspan-8"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-9 alf-flex alf-region"></div>
    <div class="alf-col-10 alf-flex alf-region"></div>
    <div class="alf-col-10 the-end alf-container" data-map="emails"></div>
</div>
