<div
    data-name="Spread A"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-cols-10 spread spread-a">
    <div class="alf-col-1 alf-colspan-8 alf-container alf-is-auto-adjustable alf-grid-align-document overflow-hidden caption-inline-left" data-map="lead-asset" data-type="image" data-grid-id="lead-asset"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container picture alf-is-optional" data-map="picture-0"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container" data-map="graphic-0" data-select="img"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container fact-box alf-grid-align-document alf-fit" data-map="http://schema.org/NewsArticle/facts"></div>
    <div class="alf-col-1 alf-colspan-10">
        <div class="alf-container alf-is-editable alf-stretch-to-fit headline-large" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-colspan-5 alf-container text-intro" data-map="intro"></div>
    <div class="alf-col-1">
        <div class="alf-container topic" data-map="topic"></div>
    </div>
    <div class="alf-col-1 byline-wrapper">
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-container location" data-map="location"></div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-9 alf-flex alf-region"></div>
    <div class="alf-col-10 alf-flex alf-region"></div>
    <div class="alf-col-10 the-end">redaksjonen@dn.no</div>
</div>

<div
    data-name="Spread B"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-cols-10 spread spread-b">
    <div class="alf-col-1 alf-colspan-8 alf-container alf-is-auto-adjustable alf-grid-align-document overflow-hidden caption-inline-left" data-map="lead-asset"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container" data-map="graphic-0" data-select="img"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container fact-box alf-grid-align-document alf-fit" data-map="http://schema.org/NewsArticle/facts"></div>
    <div class="alf-col-1 alf-colspan-10">
        <div class="alf-container alf-is-editable alf-stretch-to-fit headline-large" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-colspan-5 alf-container text-intro" data-map="intro"></div>
    <div class="alf-col-1">
        <div class="alf-container topic" data-map="topic"></div>
    </div>
    <div class="alf-col-1 byline-wrapper">
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-container location" data-map="location"></div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-9 alf-flex alf-region"></div>
    <div class="alf-col-10 alf-flex alf-region"></div>
    <div class="alf-col-10 the-end">redaksjonen@dn.no</div>
</div>
