<div
    data-name="Dobbeltside"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 theme--dn">
    <div class="alf-col-1 alf-colspan-8 alf-is-auto-adjustable" data-component="picture--main"></div>
    <div class="alf-col-9 alf-colspan-2 alf-flex" grid-flex-order="2" data-component="picture" data-map="picture-0"></div>
    <div class="alf-col-9 alf-colspan-2" data-component="infographic"></div>
    <div class="alf-col-9 alf-colspan-2" data-component="fact-box"></div>
    <div class="alf-col-1 alf-colspan-10 u-no-margin" data-component="headline"></div>
    <div class="alf-col-1 alf-colspan-5 intro--large" data-component="intro"></div>
    <div class="alf-col-1" data-component="byline"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-9 alf-flex alf-region"></div>
    <div class="alf-col-10 alf-flex alf-region"></div>
    <div class="alf-col-10 u-no-margin" data-component="emails"></div>
</div>

<div
    data-name="Dobbeltside med 7-spalters bilde"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 theme--dn">
    <div class="alf-col-1 alf-colspan-3 alf-overlay-colspan-4 headline--xl headline--bg-lines" data-component="headline"></div>
    <div class="alf-col-1 alf-colspan-3 intro--large" data-component="intro"></div>
    <div class="alf-col-1" data-component="byline"></div>
    <div class="alf-col-4 alf-colspan-7 alf-flex" data-flex-order="0" data-component="picture--main"></div>
    <div class="alf-col-2" data-component="infographic"></div>
    <div class="alf-col-3" data-component="fact-box"></div>
    <div class="alf-col-5 alf-is-optional" data-component="portrait"></div>
    <div class="alf-col-1 alf-flex alf-region">
        <div data-component="portrait"></div>
    </div>
    <div class="alf-col-2 alf-flex alf-region">
        <div data-name="portrait" class="alf-container portrait alf-smart-crop" data-map="portrait"></div>
    </div>
    <div class="alf-col-3 alf-flex alf-region">
        <div data-name="portrait" class="alf-container portrait alf-smart-crop" data-map="portrait"></div>
    </div>
    <div class="alf-col-4 alf-flex alf-region">
        <div data-component="portrait"></div>
    </div>
    <div class="alf-col-5 alf-flex alf-region">
        <div data-component="portrait"></div>
    </div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-8 u-no-margin" data-component="emails"></div>
    <div class="alf-col-9 alf-colspan-2" data-component="infographic"></div>
</div>

<div
    data-name="Dobbeltside med 7-spalters bilde og annonsekne"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 theme--dn">
    <div class="alf-col-1 alf-colspan-3 alf-overlay-colspan-4 headline--xl headline--box-shadow-lines" data-component="headline"></div>
    <div class="alf-col-1 alf-colspan-3 intro--large" data-component="intro"></div>
    <div class="alf-col-1" data-component="byline"></div>
    <div class="alf-col-4 alf-colspan-7 alf-flex" data-flex-order="0" data-component="picture--main"></div>
    <div class="alf-col-2 alf-colspan-1" data-component="fact-box"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-7 u-no-margin" data-component="emails"></div>
    <div class="alf-col-8 alf-colspan-3 ad--2b" data-component="ad"></div>
</div>

<div
    data-name="Dobbeltside med fullbredde tittel og 7-spalters bilde"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 theme--dn">
    <div class="alf-col-1 alf-colspan-10 headline--xl" data-component="headline"></div>
    <div class="alf-col-1 alf-colspan-3 intro--large" data-component="intro"></div>
    <div class="alf-col-1" data-component="byline"></div>
    <div class="alf-col-2 alf-colspan-2 alf-is-auto-adjustable alf-is-optional" data-component="picture" data-map="picture"></div>
    <div class="alf-col-2 alf-colspan-2 alf-is-optional" data-component="fact-box"></div>
    <div class="alf-col-4 alf-colspan-7 alf-is-auto-adjustable" data-flex-order="0" data-component="picture--main"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-9 alf-flex alf-region"></div>
    <div class="alf-col-10 alf-flex alf-region"></div>
    <div class="alf-col-10 u-no-margin" data-component="emails"></div>
</div>

<div
    data-name="Dobbeltside med bilder til høyre"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 theme--dn">
    <div class="alf-col-1 alf-colspan-8 alf-is-auto-adjustable u-overflow-hidden">
        <div data-component="picture--main"></div>
        <div class="headline--top-left headline--white alf-is-draggable" data-component="headline"></div>
    </div>
    <div class="alf-col-1 alf-colspan-5 intro--large" data-component="intro"></div>
    <div class="alf-col-1" data-component="byline"></div>
    <div class="alf-col-6 alf-colspan-2" data-component="fact-box" data-colspan-max="2"></div>
    <div class="alf-col-9 alf-colspan-2 alf-flex" data-component="picture"></div>
    <div class="alf-col-9 alf-colspan-2 alf-flex" data-component="picture"></div>
    <div class="alf-col-9 alf-colspan-2 alf-flex" data-component="picture"></div>
    <div class="alf-col-9 alf-colspan-2 alf-flex alf-is-optional" data-component="picture"></div>
    <div class="alf-col-9 alf-colspan-2 alf-flex alf-is-optional" data-component="picture"></div>
    <div class="alf-col-9 alf-colspan-2 alf-flex alf-is-optional" data-component="picture"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-8 u-no-margin" data-component="emails"></div>
</div>

<div
    data-name="Dobbeltside med annonse på hver side"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 theme--dn">
    <div class="alf-col-1 alf-colspan-10 headline--xl" data-component="headline"></div>
    <div class="alf-col-1 alf-colspan-3 intro--large" data-component="intro"></div>
    <div class="alf-col-1" data-component="byline"></div>
    <div class="alf-col-2 alf-colspan-2" data-component="infographic"></div>
    <div class="alf-col-2 alf-colspan-2" data-component="fact-box"></div>
    <div class="alf-col-4 alf-colspan-6 alf-is-auto-adjustable" data-component="picture--main"></div>
    <div class="alf-col-10 alf-colspan-1" data-component="fact-box"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-9 alf-flex alf-region"></div>
    <div class="alf-col-10 alf-flex alf-region"></div>
    <div class="alf-col-10 u-no-margin" data-component="emails"></div>
    <div class="alf-col-1 alf-colspan-5 ad--1 ad--no-left-line" data-component="ad"></div>
    <div class="alf-col-6 alf-colspan-5 ad--1 ad--no-left-line" data-component="ad"></div>
</div>

<!-- <div
    data-name="Spread width ad"
    data-filter-format-name="spread-ad"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 spread spread-b">
    <div class="alf-col-1 alf-colspan-8 alf-container alf-is-auto-adjustable alf-smart-crop alf-grid-align-document overflow-hidden caption-inline-left lead-asset" data-map="lead-asset"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container alf-is-optional alf-flex alf-smart-crop" data-map="picture-1" data-select="img"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container alf-is-optional fact-box alf-grid-align-document" grid-flex-order="2" data-map="http://schema.org/NewsArticle/facts"></div>
    <div class="alf-col-1 alf-colspan-10">
        <div class="alf-container alf-is-editable alf-stretch-to-fit headline-large" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-colspan-5 alf-container text-intro" data-map="intro"></div>
    <div class="alf-col-1">
        <div class="alf-container topic" data-map="topic"></div>
    </div>
    <div class="alf-col-1 byline-wrapper">
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-container location" data-map="location"></div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-5 the-end alf-container" data-map="emails"></div>
    <div class="alf-col-6 alf-colspan-5 ad-25b"></div>
</div>

<div
    data-name="Spread C"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 spread spread-c">
    <div class="alf-col-1 alf-colspan-10">
        <div class="alf-container alf-is-editable alf-stretch-to-fit headline-large" data-map="title"></div>
    </div>
    <div class="alf-col-1 alf-colspan-2 alf-container text-intro" data-map="intro"></div>
    <div class="alf-col-3 alf-colspan-6 alf-container alf-is-auto-adjustable alf-smart-crop alf-grid-align-document overflow-hidden caption-inline-left lead-asset" data-map="lead-asset"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container picture alf-smart-crop alf-is-optional alf-flex" grid-flex-order="2" data-map="picture-0"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container" data-map="graphic-0" data-select="img"></div>
    <div class="alf-col-9 alf-colspan-2 alf-container fact-box alf-grid-align-document no-margin" data-map="http://schema.org/NewsArticle/facts"></div>
    <div class="alf-col-1">
        <div class="alf-container topic" data-map="topic"></div>
    </div>
    <div class="alf-col-1 byline-wrapper">
        <div class="alf-container byline" data-map="byline"></div>
        <div class="alf-container location" data-map="location"></div>
    </div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-colspan-8"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-9 alf-flex alf-region"></div>
    <div class="alf-col-10 alf-flex alf-region"></div>
    <div class="alf-col-10 the-end alf-container" data-map="emails"></div>
</div>

<div
    data-name="Spread C component test"
    data-filter-format-name="spread"
    data-map="article"
    class="alf-template alf-grid alf-justify-text alf-cols-10 theme--dn">
    <div class="alf-col-1 alf-colspan-10" data-component="headline"></div>
    <div class="alf-col-1 alf-colspan-2" data-component="intro"></div>
    <div class="alf-col-3 alf-colspan-6" data-component="picture--main"></div>
    <div class="alf-col-9 alf-colspan-2" grid-flex-order="2" data-component="picture" data-map="picture-0"></div>
    <div class="alf-col-9 alf-colspan-2" data-component="infographic"></div>
    <div class="alf-col-9 alf-colspan-2" data-component="fact-box"></div>
    <div class="alf-col-1" data-component="byline"></div>
    <div class="alf-col-1 alf-flex alf-region"></div>
    <div class="alf-col-2 alf-flex alf-region"></div>
    <div class="alf-col-3 alf-colspan-8"></div>
    <div class="alf-col-3 alf-flex alf-region"></div>
    <div class="alf-col-4 alf-flex alf-region"></div>
    <div class="alf-col-5 alf-flex alf-region"></div>
    <div class="alf-col-6 alf-flex alf-region"></div>
    <div class="alf-col-7 alf-flex alf-region"></div>
    <div class="alf-col-8 alf-flex alf-region"></div>
    <div class="alf-col-9 alf-flex alf-region"></div>
    <div class="alf-col-10 alf-flex alf-region"></div>
    <div class="alf-col-10 the-end alf-container" data-map="emails"></div>
</div> -->
