<div
    data-name="byline"
    data-color="#ff5722"
    data-lines="5"
    class="alf-component byline"
    data-options="byline margins">
    <div class="byline-location-wrapper">
        <div class="alf-container byline-topic alf-is-optional" data-map="topic"></div>
        <div class="alf-container byline-author" data-map="byline"></div>
        <div class="alf-container alf-is-optional byline-location alf-is-editable" data-map="location"></div>
    </div>
</div>

<div
    data-name="byline--profile"
    data-color="#880056"
    class="alf-component byline byline--profile"
>
    <div class="byline--profile-wrapper">
        <div class="alf-container byline--profile-topic" data-map="topic"></div>
        <div class="alf-container byline--profile-photo" data-map="byline-photo"></div>
    </div>
</div>
