.byline--author {
    font-family: "Guardian Sans Cond";
    font-size: $medium-font-size;
    line-height: $medium-line-height;
    font-weight: 800;
    margin-top: align(3pt);
}

.byline--location {
    font-family: "Guardian Sans Cond";
    font-size: $medium-font-size;
    line-height: $medium-line-height;
    font-weight: normal;
    padding-bottom: align(10pt);
}
