.byline {
	--alf-grid-align-bottom: baseline;

	* {
		-ro-pdf-overprint-content: mode1;
	}
}

.byline--multi {
	.contributor:not(:last-child)::after {
		content: ', ';
	}

	.contributor:nth-last-child(2)::after {
		content: ' og ';
	}
}

.byline-topic {
	font-size: 13pt;
	line-height: $base-line-height * 2;
	height: $base-line-height * 2;
	box-sizing: border-box;
	font-family: var(--topic-font-family);
	font-weight: normal;
	color: var(--topic-color);
	border-style: solid;
	border-width: 0.25pt 0 0.25pt 0;
	border-color: #000;
	border-color: CMYK(0%, 0%, 0%, 100%);
	text-transform: uppercase;
	margin: 0;
	display: flex;
	-ro-pdf-overprint: mode1;

	figure {
		margin: 0;
		padding: 0.8pt 0 0 0;
		line-height: $base-line-height * 2;
		-ro-pdf-overprint: none;
		-ro-pdf-overprint-content: none;
	}

	@media print {
		color: var(--topic-color-cmyk);
	}
}

.byline-location-wrapper {
	transform: translateY(-0.5pt);
}

.byline-author {
	margin-top: 0.44px;
	font-family: DNSharpGroteskBook-18;
	font-weight: normal;
	font-size: 7.4pt;
	line-height: 9.7pt;
	letter-spacing: 0.01em;

	div {
		display: inline;
		-ro-pdf-overprint: mode1;
	}
}

.byline-location {
	font-family: SharpGroteskBookItalic16;
	font-weight: normal;
	font-size: 7.4pt;
	line-height: 9.7pt;
	letter-spacing: 0.01em;

	div {
		display: inline;
		-ro-pdf-overprint: mode1;
	}
}

.byline--profile {
	--alf-grid-align-bottom: top;
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;

	img, canvas {
		width: 33.592mm;
		height: auto;
	}

	figcaption {
		position: absolute;
		top: 15.3mm;
		left: 37.5mm;
		font-family: DNSharpGroteskBook-18;
		font-size: 7.4pt;
		word-spacing: -10%;
		line-height: $base-line-height;
		width: 33.5mm;
	}

	.byline--profile-wrapper {
		margin-top: -10mm;
		line-height: 0;
		align-self: flex-end;
	}

	.byline--profile-photo {
		line-height: 0;
		align-self: flex-end;
	}

	.byline--profile-topic {
		font-family: SharpGroteskMedium22;
		color: var(--color-base-dark);
		position: absolute;
		top: 11mm;
		left: 37.5mm;

		@media print {
			color: var(--color-base-dark-cmyk);
		}
	}
}
