<div
    data-name="byline"
    data-color="#ff5722"
    data-lines="5"
    class="alf-component alf-is-removable byline"
    data-options="margins">
    <div class="byline-wrapper">
        <div class="alf-container byline-author" data-map="byline"></div>
        <div class="alf-container alf-is-optional byline-location alf-is-editable" data-map="location"></div>
    </div>
</div>

<div
    data-name="byline--profile"
    data-color="#880056"
    class="alf-component alf-is-removable byline byline--profile"
    data-options="margins byline"
>
    <div class="byline--profile-wrapper">
        <div class="alf-container byline--profile-topic" data-map="topic"></div>
        <div class="alf-container byline--profile-photo alf-is-optional" data-map="byline-photo"></div>
    </div>
</div>

<div
    data-name="byline-topic"
    data-color="#d23706"
    data-lines="5"
    class="alf-component alf-is-removable byline byline--topic"
    data-options="margins">
    <div class="byline-wrapper">
        <div class="alf-container byline-topic alf-is-optional" data-map="topic"></div>
        <div class="alf-container byline-author" data-map="byline"></div>
    </div>
</div>
