.box {
    background: #FFFFB9;
    opacity: 0.5;
    z-index: 10000;

    @media print {
        background: transparent;
    }

    &.box--white {
        background: var(--color-white);
        opacity: 1;
    }

    &.box--white-transparent {
        background: var(--color-white);
        opacity: 0.7;
    }

    &.box--base {
        background: var(--color-base);
        opacity: 1;
    }

    &.box--base-bright {
        background: var(--color-base-bright);
        opacity: 1;
    }

    &.box--light-grey {
        background: var(--color-light-grey);
        opacity: 1;
    }
}
