.box {
    background: #FFFFB9;
    z-index: 10000;

    @media print {
        background: transparent;
    }

    &.box--white {
        background: #FFFFFF;

        @media print {
            background: CMYK(0%, 0%, 0%, 0%);
        }
    }
}
