.box {
    background: #FFFFB9;
    z-index: 10000;

    @media print {
        background: transparent;
    }

    &.box--white {
        background: #FFFFFF;

        @media print {
            background: CMYK(0%, 0%, 0%, 0%);
        }
    }

    &.box--base {
        background: var(--color-base);

        @media print {
            background: var(--color-base-cmyk);
        }
    }

    &.box--base-bright {
        background: var(--color-base-bright);

        @media print {
            background: var(--color-base-bright-cmyk);
        }
    }

    &.box--light-grey {
        background: var(--color-light-grey);

        @media print {
            background: var(--color-light-grey-cmyk);
        }
    }
}
