.fullpage {
    .headline {
        h1 {
            font-size: 94.2pt;
            line-height: align(83.2, pt);
            letter-spacing: -1.8pt;
            font-family: "Guardian Sans XCond";
            font-weight: 800;
            margin-top: 0;
            margin-top: align(-5.5, pt);
            margin-bottom: align(14.125, pt);
        }
    }

    .text-intro {
        font-family: "Guardian Egypt";
        font-size: 13.6pt;
        line-height: align(15.6, pt);
        font-weight: normal;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        margin-bottom: $base-line-height;
    }

    figure {
        margin: 0;
        position: relative;
    }
}

.fullpage-meninger {
    background: #eae7e5;

    .headline-large {
        h1 {
            font-family: "Guardian Egypt";
            font-weight: 800;
            font-size: 42pt;
            border-top: 1px solid #CCC;
            padding-top: 10pt;
            padding-bottom: 15pt;
            border-bottom: 2px solid #CCC;
        }
    }

    .text-intro {
        font-family: "Guardian Egypt";
        font-weight: 200;
        font-size: 25pt;
        line-height: 1.1em;
        padding-bottom: 18pt;
    }

    .quote-box {
        background: #feca0a;
        height: 400px;
    }

    .alf-block-is-first {
        .row {
            text-indent: 0 !important;
        }

        .row:first-child:first-letter {
            font-family: "Guardian Egypt";
            font-weight: 100;
            color: #000;
            color: CMYK(0%, 0%, 0%, 100%);
            float: left;
            font-size: 80pt;
            line-height: 0.6em;
            padding: 0;
            margin: 10pt 2pt 0 0;
        }
    }

    .meninger-footer {
        height: 45mm;

    }
}

.fullpage-a2 {
    .headline h1 {
        color: $black;
        font-size: 84pt;
    }

    .caption {
        .figcaption {
            background: #000;
            color: #FFF;
        }
    }
}
