.fullpage-1 {
    .headline-large {
        h1 {
            font-size: 90pt;
            line-height: 0.9em;
            font-family: "Guardian Sans XCond";
            font-weight: 800;
        }
    }

    .text-intro {
        font-family: "Guardian Text Egypt";
        font-size: 11pt;
        line-height: 1.1em;
        font-weight: normal;
    }
}
