.fullpage {
    .headline {
        h1 {
            font-size: 94.2pt;
            line-height: 83.2pt;
            letter-spacing: -2pt;
            font-family: "Guardian Sans XCond";
            font-weight: 800;
            margin-top: 0;
            margin-bottom: 14.125pt;
        }
    }

    .text-intro {
        font-family: "Guardian Text Egypt";
        font-size: 13.6pt;
        line-height: 15.6pt;
        font-weight: normal;
    }

    figure {
        margin: 0;
        position: relative;

        figcaption {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 136pt;
            background: #FFF;
            font-family: "Guardian TextSans";
            font-weight: bold;
            font-size: 8.4pt;
            line-height: 10.4pt;
            padding: 2pt;
        }
    }

    .lead-asset {
        // Push down content below at least one line
        margin-bottom: $base-line-height;
    }
}

.fullpage-meninger {
    background: #eae7e5;

    .headline-large {
        h1 {
            font-family: "Guardian Egypt";
            font-weight: 800;
            font-size: 42pt;
            border-top: 1px solid #CCC;
            padding-top: 10pt;
            padding-bottom: 15pt;
            border-bottom: 2px solid #CCC;
        }
    }

    .text-intro {
        font-family: "Guardian Egypt";
        font-weight: 200;
        font-size: 25pt;
        line-height: 1.1em;
        padding-bottom: 18pt;
    }

    .quote-box {
        background: #feca0a;
        height: 400px;
    }

    .alf-block-is-first {
        .row {
            text-indent: 0 !important;
        }

        .row:first-child:first-letter {
            font-family: "Guardian Egypt";
            font-weight: 100;
            color: #000;
            float: left;
            font-size: 80pt;
            line-height: 0.6em;
            padding: 0;
            margin: 10pt 2pt 0 0;
        }
    }

    .meninger-footer {
        height: 45mm;

    }
}
