.spread {
    .headline-large {
        h1 {
            font-size: 99pt;
            line-height: 0.9em;
            font-family: "Guardian Sans XCond";
            font-weight: 800;
        }
    }

    .text-intro {
        font-family: "Guardian Text Egypt";
        font-size: 11pt;
        line-height: 1.1em;
        font-weight: normal;
    }
}

.fact-box {
    .dp-fact-box-content {
        column-count: initial;
        -webkit-column-count: initial;
    }
}
