.spread {
    .headline-large {
        h1 {
            font-size: 99pt;
            line-height: 0.9em;
            font-family: "Guardian Sans XCond";
            font-weight: 800;
            // text-shadow: 0 0 35px #FFF, 0 0 35px #FFF, 0 0 30px #FFF;
            // -webkit-text-shadow: 0 0 35px #FFF, 0 0 35px #FFF, 0 0 30px #FFF;
            letter-spacing: -2pt;
            margin-bottom: 13pt;
        }
    }

    .text-intro {
        font-family: "Guardian Text Egypt";
        font-size: 17pt;
        line-height: align(17pt);
        font-weight: normal;
        margin-bottom: $base-line-height;
    }
}

.fact-box {
    .dp-fact-box-content {
        column-count: initial;
        -webkit-column-count: initial;
    }
}

.spread-2 {
    .headline-large {
        h1 {
            font-size: 125pt;
            background: #FFF;
            background: CMYK(0%, 0%, 0%, 0%);
            display: inline;
        }
    }

    .text-intro {
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 18pt;
        line-height: 1.1em;
        font-weight: normal;
    }
}
