.two-fifths {
    background: #eae7e5;
    padding: 10pt 15pt;

    .headline-large {
        h1 {
            font-family: "Guardian Egypt";
            font-weight: 400;
            font-size: 32pt;
        }
    }

    .alf-block-is-first {
        .row:first-child:first-letter {
            font-family: "Guardian Egypt";
            font-weight: 100;
            color: #000;
            float: left;
            font-size: 80pt;
            line-height: 0.6em;
            padding: 0;
            margin: 10pt 2pt 0 0;
        }
    }
}
