<div
    data-name="infographic"
    data-color="#a769dc"
    class="alf-component alf-container infographic u-grid--expand"
    data-map="graphic">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-1-column"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-columns-1">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-2-columns"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-columns-2">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-3-columns"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-columns-3">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-4-columns"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-columns-4">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-5-columns"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-columns-5">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-46mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-46mm">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-71mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-71mm">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-96mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-96mm">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-121mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-121mm">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-146mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-146mm">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-196mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-196mm">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-221mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-221mm">
    <div class="infographic--image-container" data-select="img"></div>
</div>
