<div
    data-name="infographic-1-column"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-columns-1">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-2-columns"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-columns-2">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-3-columns"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-columns-3">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-4-columns"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-columns-4">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-5-columns"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-columns-5">
    <div class="infographic--image-container" data-select="img"></div>
</div>
