.infographic {
    --alf-grid-align-top: baseline;
	--alf-grid-align-bottom: baseline;
}

.infographic--image-container {
    display: inline-block;
    // the image is "too tall" since ascenders are inside the image, so we shave off a bit at the bottom
    margin-bottom: -3.7px;

    img, canvas {
        // Use the data-file-url attribute as src when generating PDF
        -ro-replacedelement: image;
        -ro-source: -ro-attr(data-file-url);
    }
}
