<div
    data-name="infographic"
    data-color="#a769dc"
    class="alf-component alf-container infographic u-grid--expand"
    data-map="graphic"
    data-options="margins">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-46mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-46mm"
    data-options="margins">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-71mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-71mm"
    data-options="margins">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-96mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-96mm"
    data-options="margins">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-108_5mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-108mm graphic-108_5mm"
    data-options="margins">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-121mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-121mm"
    data-options="margins">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-146mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-146mm"
    data-options="margins">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-196mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-196mm"
    data-options="margins">
    <div class="infographic--image-container" data-select="img"></div>
</div>

<div
    data-name="infographic-221mm"
    data-color="#a769dc"
    class="alf-component alf-container infographic"
    data-map="graphic-221mm"
    data-options="margins">
    <div class="infographic--image-container" data-select="img"></div>
</div>
