.intro {
    margin: 0;
    font-family: "Guardian Text Egypt";
    font-weight: normal;
    font-size: 13.6pt;
    line-height: align(15.6pt);
}

.intro--large {
    font-size: 17pt;
    line-height: align(17pt);
}
