.intro {
    font-family: "Guardian Egypt";
    font-weight: normal;
    font-size: 13.6pt;
    line-height: align(15.6pt);
}

.intro--13 {
    font-size: 13.6pt;
    line-height: align(15.6pt);
}



.intro--21, .intro--large {
    font-size: 21.4pt;
    letter-spacing: var(--headline-letter-spacing, -0.35pt); 
    line-height: align(23.4pt);
}


.intro--29 {
    font-size: 29.2pt;
    letter-spacing: var(--headline-letter-spacing, -0.35pt); 
    line-height: align(31.8pt);
}

