.intro {
	font-family: SharpGroteskMedium20;
	font-weight: normal;
	font-size: 11.5pt;
	line-height: 15.975pt;
	word-spacing: -10%;
	letter-spacing: 0.003em;
	-ro-pdf-overprint: mode1;
	-ro-pdf-overprint-content: mode1;
	--alf-grid-align-bottom: top;
	margin-bottom: $grid-line-offset;

	* {
		-ro-pdf-overprint: mode1;
		-ro-pdf-overprint-content: mode1;
	}

	p {
		transform: translateY(-2px);
	}
}

.intro--border {
	border-width: 0 0 0.25pt 0;
	border-style: solid;
	border-color: #000;

	@media print {
		border-color: CMYK(0%, 0%, 0%, 100%);
	}
}

.intro--white {
	p {
		color: #FFF;

		@media print {
			color: CMYK(0%, 0%, 0%, 0%);
		}
	}
}

.intro--black {
	p {
		color: #000;

		@media print {
			color: CMYK(0%, 0%, 0%, 100%);
		}
	}
}

.intro--a {
	font-family: IvarHeadline-Regular;
	font-size: 17.8pt;
	line-height: 1.1236em;
	word-spacing: -20%;
	letter-spacing: 0;
}

.intro--a-22_3 {
	font-family: IvarHeadline-Medium;
	font-size: 22.3pt;
	line-height: 1.1928em;
	word-spacing: -20%;
	letter-spacing: 0;
}

.intro--meninger {
	font-family: SharpGroteskLight20;
	font-size: 11.5pt;
	line-height: 15.975pt;
	word-spacing: 0;
	letter-spacing: 0;
}
