.bgcolor--white {
    background-color: var(--color-white) !important;
    opacity: 1 !important;
}

.bgcolor--black {
    background-color: var(--color-black) !important;
    opacity: 1 !important;
}

.bgcolor--base {
    background-color: var(--color-base) !important;
    opacity: 1 !important;
}

.bgcolor--base-bright {
    background-color: var(--color-base-bright) !important;
    opacity: 1 !important;
}

.bgcolor--base-bright-tinted {
    background-color: var(--color-base-bright-tinted) !important;
    opacity: 1 !important;
}

.bgcolor--light-grey {
    background-color: var(--color-light-grey) !important;
    opacity: 1 !important;
}

.color--white {
    color: var(--color-white) !important;

    h1, h2, h3, h4, h5, p, li, ul {
        color: var(--color-white) !important;
    }
}

.color--black {
    color: var(--color-black) !important;

    h1, h2, h3, h4, h5, p, li, ul, span {
        color: var(--color-black) !important;
    }
}

.opacity--90 {
    opacity: 0.9 !important;
}

.opacity--80 {
    opacity: 0.8 !important;
}

.opacity--70 {
    opacity: 0.7 !important;
}

.opacity--60 {
    opacity: 0.6 !important;
}

.opacity--50 {
    opacity: 0.5 !important;
}
