.u-grid--expand {
    --alf-grid-cell-expand: 10;
}

.u-grid--cell-gap-none {
    --alf-grid-cell-gap-left: none;
    --alf-grid-cell-gap-right: none;
}

.u-grid--cell-gap-left-none {
    --alf-grid-cell-gap-left: none;
}

.u-grid--cell-gap-left-none {
    --alf-grid-cell-gap-left: none;
}
