.u-no-margin {
    margin: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}

.u-margin-top-document-grid {
    margin-top: $grid-line-offset !important;
}

@for $i from 1 through 5 {
    $plural: if($i > 1, 's', '');

    .u-margin-top-#{$i}-line#{$plural} {
        margin-top: $base-line-height * $i;
    }

    .u-margin-bottom-#{$i}-line#{$plural} {
        margin-bottom: $base-line-height * $i;
    }
}
