.u-padding-sides-4mm {
    padding-left: 4mm;
    padding-right: 4mm;
}

.u-padding-right-4mm {
    padding-right: 4mm;
}

.u-padding-left-4mm {
    padding-left: 4mm;
}

.u-padding-top-2mm {
    padding-top: 2mm !important;
}

.u-padding-top-3mm {
    padding-top: 3mm !important;
}

.u-padding-top-4mm {
    padding-top: 4mm !important;
}

.u-padding-bottom-2mm {
    padding-bottom: 2mm !important;
}

.u-padding-bottom-3mm {
    padding-bottom: 3mm !important;
}

.u-padding-bottom-4mm {
    padding-bottom: 4mm !important;
}

@for $i from 0 through 5 {
    $plural: if($i == 1, '', 's');

    .u-padding-top--#{$i}-line#{$plural} {
        padding-top: ($base-line-height * $i) !important;
    }

    .u-padding-bottom--#{$i}-line#{$plural} {
        padding-bottom: ($base-line-height * $i) !important;
    }
}
