.shadow--dark-weak {
    text-shadow: 0px 0px 35px #000;
}

.shadow--dark-strong {
    text-shadow: 0px 0px 35px #000, 0px 0px 35px #000;
}

.shadow--light-weak {
    text-shadow: 0px 0px 35px #FFF;
}

.shadow--light-strong {
    text-shadow: 0px 0px 35px #FFF, 0px 0px 35px #FFF;
}
