.report {
    background-color: transparent;
    line-height: $base-line-height;
    -ro-pdf-overprint-content: mode1;
    padding: 0;

	&.alf-component::before {
		content: '';
		display: block;
		width: 8.5mm;
		height: 2.505mm;
		background-color: var(--fact-box-border-color);

		@media print {
			background-color: var(--fact-box-border-color-cmyk);
		}
	}

    .alf-align {
        --alf-grid-align-top: baseline;
	}

	h3 {
		font-family: SharpGroteskSmBold20;
		font-weight: normal;
		font-size: 8.9pt;
		line-height: 10.5pt;
		box-sizing: content-box;
		margin-bottom: 0;
		margin-top: 2.725pt;
		letter-spacing: 0.01em;
		-ro-pdf-overprint-content: mode1;

		&::before,
		&::after {
			display: block;
			font-family: DNSharpGroteskBook-18;
			font-kerning: normal;
			font-weight: normal;
			font-style: normal;
			font-size: 7.9pt;
			line-height: $base-line-height;
			margin-top: $base-line-height - $grid-line-offset;
			margin-bottom: 1px;
			border-bottom: 0.25pt solid var(--color-black);
		}
	}

	table {
		font-family: DNSharpGroteskBook-16;
		font-weight: normal;
		font-size: 7.9pt;
		width: 100%;
		border-collapse: collapse;

		tr {
			td {
				text-align: right;
				margin: 0;
				padding: 0;
				line-height: 1.37em;
			}

			td:first-child {
				text-align: left;
			}
		}

		tbody {
			td {
				border-top: 0.25pt solid var(--color-black);

				@media print {
					border-color: var(--color-black-cmyk);
				}
			}

			.cell-1 {
				white-space: nowrap;
			}

			.cell-2 {
				width: 15pt;
			}

			.cell-3 {
				width: 20.9pt;
			}

			.cell-4 {
				width: 27.2pt;
			}
		}

		.cell-2 {
			padding-right: 2px;
		}
	}
}

.report-quarter--1 h3::after {
	content: 'Resultat 1. kvartal';
}

.report-quarter--2 h3::after {
	content: 'Resultat 2. kvartal';
}

.report-quarter--3 h3::after {
	content: 'Resultat 3. kvartal';
}

.report-quarter--4 h3::after {
	content: 'Årsresultat';
}
