.separator {
	--alf-grid-align-top: none;
	--alf-grid-align-bottom: none;
	height: $base-line-height;
	box-sizing: border-box;
	border-width: 0 0 0.25pt 0;
	border-style: solid;
	border-color: var(--color-black);

	&.separator--border-top {
		border-width: 0.25pt 0 0 0;
	}

	&.separator--border-bottom {
		border-width: 0 0 0.25pt 0;
	}

	&.separator--border-none {
		border-width: 0;
	}
}
